<!DOCTYPE html>
{% extends 'testapp/base.html' %}
{% block body_block %}<br>
<div class="row" style="margin-left: 40px;">
  <div class="col-md-6">
    <img src="https://static.wixstatic.com/media/ce4386_2e51679f3426488bbabe66c016f46538~mv2.jpg/v1/fill/w_750,h_562,al_c,q_85/samrat%20investments%20saving%20money%20analytic.webp">

  </div>
  <div class="col-md-6" style="margin-top: 60px;">
    <div class="jumbotron" style="margin-left: -150px;">
      <h1 style="color: green;">Financial Service</h1><br><br><br><br>
      <h5>Assuring financial goals for you by reducing financial complexity. Great guaranteed return along with expected return to fulfill your personal happiness and, by reducing saving risk.</h5><br><br><br><br>
      <a href="">| Start saving  ></a>


    </div>
  </div>
  <div class="row" style="margin-left: 40px;">
  <div class="col-md-6">
    <img src="https://static.wixstatic.com/media/e63498afac804a82a4a8a64fdef2c6fd.jpg/v1/fill/w_1284,h_567,al_c,q_85,usm_0.66_1.00_0.01/Successful%20Manager.webp">

  </div>
  <div class="col-md-6" style="margin-top: 60px;">
    <div class="jumbotron" style="margin-left: -150px;">
      <h1 style="color: green;">Financial Consultancy</h1><br><br><br><br>
      <h5>Insight on finance and authentic research about strategic management of individuals (You) and businesses, to accomplish your personal aspiration. A genius approach on your mark to serve you.</h5><br><br><br><br>
      <a href="">| Consult us  ></a>


    </div>
  </div>

  <div class="col-sm-12 ">
    <div class="container">
        <div class="row reg_vide">
            <div class="col-md-6 col-xs-12">
                <div class="row">
        <iframe width="580" height="400" src="https://www.youtube.com/embed/d3JQGrZsOMk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                   <!--<li><a href="https://www.nationallibrary.gov.in/files/contents/newsletter_january_to_december_2016.pdf" target="_blank"><img src="https://www.nationallibrary.gov.in/assets/images/lieb.png" alt="lieb" width="100%" class="hvr-float-shadow"></a></li>-->
                </div>
            </div>
            <div class="col-md-6 col-xs-12 col-md-offset-0 news_text">
                <h1 style="color: blue;">News</h1>
                <marquee behavior="scroll" direction="up" onmouseover="this.stop();" onmouseout="this.start();" scrollamount="3" height="270" style="margin-top: 15px;">
                    <ul>
                        <!--                        <li><a href="#">January-December 2016</a></li>
                                                <li><a href="#">January-December 2015</a></li>
                                                <li><a href="#">July-December 2014</a></li>
                                                <li><a href="#">Jan-Jun 2012</a></li>
                                                <li><a href="#">Jul-Dec 2011</a></li>
                                                <li><a href="#">Jan-Jun 2011</a></li>-->
                                                        <li><a href="https://www.nationallibrary.gov.in/home/download/MmE2N2JkZDhiNGFhOGJkNzhiODk1ZTdlMDc0ODNjZDZhYWE0MDdlYjQ1OTg5Mjk3OTBkOTIxZjEyYjY5NDRjOWJjMDliNDc4YjBkOGM2MTU1NzBiYTNkMWEzOTNkMzFiNDU1NTYzNTI3MmFhZGVjYTg5M2Q3ZmRmYWIwMzE4YjFJMDE4dDJSMmVmZXJnUjFtYkFXeERicUcwWk9LTk9vUVpuUGVUcFpmWWFQU25DdW91U1AzREpnZjllY01pb0drWDd0MVBhbGNOaUg2a012NGRYMTkyZz09" target="_blank">Young Professional Graduates from Library & Information Science as LIS Interns Programme for the year 2019-20.</a></li>
                                                                <li><a href="https://www.nationallibrary.gov.in/home/download/MzdhNTdhOTAzMWY2NDM5YTk5MTFiZDVlYTUwYWM2NGY3ZmU2OWE2YTRkMjlmMGFmMGZlMTUyNTM3Zjg2Mjk2MjUwNDQ4YjRlOGViYzhlNjQxNTI5NTYzNDZjMjQ0ZjM1N2NhNTgyOGUzNDhjMjA2M2UyNmEzZDA3ZDU2OWQxOGZac3R3c0ZkNjNTTm5SNElFSGVNZGhTVHM2SnAxaC8rblRPa2NENFB3T0NNMDZwY1EzNW9pWGxVMWV4YWhDOWJv" target="_blank">Flag Code of India, 2002</a></li>
                                                                <li><a href="https://www.nationallibrary.gov.in/home/download/ZDQzNTJkYTY1ZGU3NzNiOWM0MGIxYjgwYjI3NDg0ZTU3MmRhNzdhNjUwOWJlYmE3ZTg5ODcyODc4MGJkYmEwMzVmODU4MWU0MzBiMmI4ZGZjNjkxZWYwMmE0NzI4ODc3YzFhYzY2NDJlMGU4ODA0OThmNDliZDE1MTgxZmY0Y2IxN0xZaTR5ZGUza3hGZFlaM2o2NEwxTThTN0hZMzNBZ09QejJWZEwvR0pWVm5paW12NFVYaVg3UnJQT2FlWjFo" target="_blank">Exhibition on Nationalism: from the soil of Bengal (Bankim Chandra Chattopadhyay, Rabindranath Tagore, Subhash Chandra Bose, Syama Prasad Mookherjee)</a></li>
                                                                <li><a href="https://www.nationallibrary.gov.in/home/download/ZWFjYmRmZGE1ODhhYmRmYWUyZDQ0NDVlMWQ2ODQ1MTAyMmZmODAyZTY5NjYwMmYyZjA4ZWNjODI5NTJmMzcyYmJhZjg1ODliYzdlMDcwMjk4YzVmZTZjOTcyYzhjMTQ0Y2I1MzlkODlhMjAwM2YyNDRkZDVkYTk0NWQ0NDYwNWY0eDFyKzVUT3czTW0xa1pWWXQrcjJiYVdydDlVUEtaNFZndnU3UFZJK0p4N1k1REVJaGlNN3I0MjBUY1RFWW5sQ1lnckx2V1psVm9KZU02S2FwL2k3dz09" target="_blank">Message on Voter Awareness</a></li>
                                                                <li><a href="https://www.nationallibrary.gov.in/home/download/ZGUwNDFlY2NiNDAwNGUzZjUyYjNiOTM0MWU2MTcyZjVmZDExYThhMWVhYmY2YTc4ZjY0YzhlZGE4NDY0NTFlY2UwMmFlYjkyNjI4NzcxMzBjMzQzOTYyYTZlMzAwOWRkNmFkODE5NGE2MGQ3NGUxNGM1MDRkNzczNTdkNjdkNzBMVlkvbVZnZVdVQWtEMzdtVzdldklva2xYc0pMUEVtMi9KZjF2NVE5VkVGMGxpUlNqNUZlVml4ZU0ybXpiYWs0" target="_blank">Corrigendum-  Young Professional Graduates from Library & Information Science as LIS Interns date has been extended.</a></li>
                                                                <li><a href="https://www.nationallibrary.gov.in/home/download/NjJkNzEwZDVmYjNkMDg1ZGI2MThiYjA3NWQ5ODdkNDRhZTIwY2MwYzllZGEyMWI0YjdmMThkMGU1NjAzZDMzZWVmOTJjMjI4NGE4NTcwODU5OTk0ZDRhNTcxMjRmYTdhZDExYWQ0ODUzNmI0YWMzNjI4ZTNiMjdkMzVlZGFhM2Jsb3owQml0dk1sK2xISlJmdTFhbzR1VHFWOURNUFVtdm04N3MzUWlBN2Q1SmpGRUEybXcrQ0JaeDJUdUZJUW85" target="_blank">Corrigendum 2- Young Professional Graduates from Library & Information Science as LIS Interns Programme for the year 2018-19 regarding</a></li>
                                                                <li><a href="https://www.nationallibrary.gov.in/home/download/ODlhYmRkYjM2ZDZlYmZhZTAxMGU1YTcwNzYwYzVhYTA0ZTAwMTNhYjExMDBlMjcyOWI4NjllNzAyODYwMTYyZDBhMjZiMzE3MDQxM2ZkMjQ2YzliZWE2ZjUxNmUyZDczNTRhN2MyM2VjMjU4OWU5OTUxZjI0M2VmZjljOWQwNTVqNEdGdXlMTXNpTGtweEtIN1l6M201K3J2UVJMK2V2V1VUdjV4eVdaWXNWakczZkFnMWFiRVVMd1c1QXcvQUZB" target="_blank">Pension Adalat on 23.08.2019 at National Library Kolkata</a></li>
                                                                <li><a href="https://www.nationallibrary.gov.in/home/download/ZjA1M2NjMzgzYmI1NjMzNmI3ZjA4MDE0ZThhMjBlZDViZmE5MTI5YmUxNjdhN2ZiZDY5NWExYTNiMzI1N2QyNGZmMzg2MTU5YTQ2NzkwOTQ4YThmNTJkZGRiMjE0ZjM2OTcyYTE0Mzc0YWZjYzZjNjRiNDBjNjE3N2I5OWMxYzlVNWVrU0YvOHIreWh6UmNpckg4MUpMcmdsVXhCZjVCQzhxakZrSWozZVU2VmJhQzNnai9yNjhVanNONWwvcXZj" target="_blank">Pension Adalat on 23.08.2019 at 15 R N Mukherjee Road 3rd Floor Kolkata 700001</a></li>
                                                                <li><a href="https://www.nationallibrary.gov.in/home/download/ZDc3YjAzZTdjYzJhYzM4NzM2NDFiZjI1YTk1M2RiNTAwODdjOWViNGIxNDBmOTU5MTFkY2UxZDQ0Mzg5MTFiODAxNjg5ZmI2N2RiMWFkOWI1MTc5YjQxYWU4ZTFhMGI2NDAzZTViNzYzNjNhMWYwNGE1MGU4ZTFiMjMzODIyNThxYVVtM3pzZFU4b3FrVGJCaUZEMlN5TUwxYTZMbUk1Vk9qckYvQmNRdkdaT2E5cWN5aS9UeVh6MWJEbjRwUlph" target="_blank">Result of Young Professional Graduates from Library & Information Science as LIS Interns Programme for the year 2019-20.</a></li>
                                                                <li><a href="https://www.nationallibrary.gov.in/home/download/NTk4ODQzN2JmMGYzZWZmMjc1ZWQyMjc3OTIzODdiNTE1NjBhYmFjYzA0Mzg4OWFkZGFkMzM4M2M5YmRkZWY4NmZjODgzY2M2ZWM0Nzg1MmIyNzM0YWU2NzRlYjMwMzkxYjg0MmVkZDcwOGM1ZGY0YjYxNzM5ODU0MGIyMWE1YjMyOEpNNFVBR1FRUE52MHRJRWJ4UEp0N28rOTd4UHBTcER0eGtrNU9jT0Rva3YxeUIwQ201QmRsWW1MclZEMzN3TVBoWElUR29lcFlHemV0ZS9kUlJxMFd4ZGZiVEV1ZjRGSlRsa1djbXgwND0=" target="_blank">Engagement of One Consultant to the post of Sr Administrative Officer & two consultants to the post of Administrative Officer in National Library Kolkata on contract basis</a></li>
                                                                <li><a href="https://www.nationallibrary.gov.in/home/download/NTU1OTI1NDI1M2Y3NzgzZTZkNjUzZjQ5YzcxNGI1MTcwZjY1OTAyZmRkM2NjOWMxMmI0MWVhMmRlN2ExMWFhMDdmMmEzM2Y0MWExZTViYWYxYzAwNTcyNTRjOGU0N2VlNWQ2ODFmOTBjODQ2MTgyM2Q1NzYyMDU2ZGIxNDgxODZDcDZLcWdvNjMrcVlaNy90WEJFRk9jZ0FqbE4xM0x4cnd2d2d4YU5qeFRwK3VyZENUNjlwOG42Y1RLTVpudXNjL1BSbDZRQzlsTjhXNVBYOXVETUoxQT09" target="_blank">Engagement of One Consultant to the post of Sr Administrative Officer & two consultants to the post of Administrative Officer in National Library Kolkata on contract basis - Hindi Version</a></li>
                                                    </ul>
                </marquee>
                <!--                <div id="carousel" class="carousel carousel-fade" data-ride="carousel" style="display: none;">
                                    <div class="carousel-inner">
                                        <div class="active item">
                                            <ul>
                                                <li><a href="#">Chemical Engg faculty wins Univ. of Oxford Vice-Chancellor's Innovation Award</a></li>
                                                <li><a href="#">Indo-German Research Center on Intelligent Transportation Systems</a></li>
                                                <li><a href="#">IITKgp introduces programs interfacing Medicine, Science and Engineering</a></li>
                                                <li><a href="#">CONVOCATION 2018</a></li>
                                                <li><a href="#">Chemical Engg faculty wins Univ. of Oxford Vice-Chancellor's Innovation Award</a></li>
                                                <li><a href="#">Indo-German Research Center on Intelligent Transportation Systems</a></li>
                                            </ul>
                                        </div>
                                        <div class="item">
                                            <ul>
                                                <li><a href="#">Chemical Engg faculty wins Univ. of Oxford Vice-Chancellor's Innovation Award</a></li>
                                                <li><a href="#">Indo-German Research Center on Intelligent Transportation Systems</a></li>
                                                <li><a href="#">IITKgp introduces programs interfacing Medicine, Science and Engineering</a></li>

                                            </ul>
                                        </div>
                                        <div class="item">
                                            <ul>
                                                <li><a href="#">Chemical Engg faculty wins Univ. of Oxford Vice-Chancellor's Innovation Award</a></li>
                                                <li><a href="#">Indo-German Research Center on Intelligent Transportation Systems</a></li>
                                                <li><a href="#">IITKgp introduces programs interfacing Medicine, Science and Engineering</a></li>
                                                <li><a href="#">CONVOCATION 2018</a></li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>-->

            </div>
        </div>
    </div>
</div><br><br>

<div class="col-sm-12">
    <div class="container">
        <div class="row reg_vide">
            <div class="col-md-6 col-sm-12 col-md-offset-0 news_text ">
                <h1 style="color: blue;">EVENTS UPDATE</h1>
        <marquee behavior="scroll" direction="up" onmouseover="this.stop();" onmouseout="this.start();" scrollamount="3" height="270" style="margin-top: 15px;">
          <ul>
                <!--<div id="carousel" class="carousel carousel-fade" data-ride="carousel">
                    <div class="carousel-inner">-->
                                                        <li><b>Internship Programme:</b>                  <a href="https://www.nationallibrary.gov.in/home/download/YjVkZmJkOTRiZWFlOGIzYWE5YjA2MjliNGFmYzE4NzcyMGRkYTc5MDk4NTg3MzdmZTg3YzRhM2ZmZTgwY2UwMTI1YjYwZTUwOTkwMDlmNTQ4NTljZjU4OWU2YmQ4NDhlYmJlM2UwNmQyZTYyMmEyZDZhZTQzYTQwMDM3MmEyMGVwakY3V2hoUytpNTlDZk10Vm03bHF6eCtnSHhxOWM3cnExUUdWNzF5eFNBNlIzY2xQcHJKWnFZc096REQzL3Rp" target="_blank">Final list of selected candidates for Young Professional Graduates from Library & Information Science as LIS-Interns for the year 2017-18</a>
                                                        <!--                        <div class="active item">
                                                    <ul>
                                                        <li><a href="#">Chemical Engg faculty wins Univ. of Oxford Vice-Chancellor's Innovation Award</a></li>
                                                        <li><a href="#">Indo-German Research Center on Intelligent Transportation Systems</a></li>
                                                        <li><a href="#">IITKgp introduces programs interfacing Medicine, Science and Engineering</a></li>
                                                        <li><a href="#">CONVOCATION 2018</a></li>
                                                        <li><a href="#">Chemical Engg faculty wins Univ. of Oxford Vice-Chancellor's Innovation Award</a></li>
                                                        <li><a href="#">Indo-German Research Center on Intelligent Transportation Systems</a></li>
                                                    </ul>
                                                </div>
                                                <div class="item">
                                                    <ul>
                                                        <li><a href="#">Chemical Engg faculty wins Univ. of Oxford Vice-Chancellor's Innovation Award</a></li>
                                                        <li><a href="#">Indo-German Research Center on Intelligent Transportation Systems</a></li>
                                                        <li><a href="#">IITKgp introduces programs interfacing Medicine, Science and Engineering</a></li>

                                                    </ul>
                                                </div>
                                                <div class="item">
                                                    <ul>
                                                        <li><a href="#">Chemical Engg faculty wins Univ. of Oxford Vice-Chancellor's Innovation Award</a></li>
                                                        <li><a href="#">Indo-German Research Center on Intelligent Transportation Systems</a></li>
                                                        <li><a href="#">IITKgp introduces programs interfacing Medicine, Science and Engineering</a></li>
                                                        <li><a href="#">CONVOCATION 2018</a></li>

                                                    </ul>
                                                </div>-->
                    <!--</div>
                </div>-->
          </ul>
        </marquee>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="row">
        <a href="https://www.nationallibrary.gov.in/files/contents/newsletter_january_to_december_2016.pdf" target="_blank"><img src="https://www.nationallibrary.gov.in/assets/images/lieb.png" alt="lieb" width="100%" class="hvr-float-shadow"></a>
                    <!--<img src="https://www.nationallibrary.gov.in/assets/images/lieb2.png" alt="lieb" width="100%" class="hvr-float-shadow">

                    <link rel="stylesheet" href="https://www.nationallibrary.gov.in/assets/date/jquery.datetimepicker.min.css">
                    <script src="https://www.nationallibrary.gov.in/assets/date/jquery.datetimepicker.min.js"></script>
                    <div style="position:absolute;right:2px;top:0px;" id="cal_show"></div>
                    <script>$('#cal_show').datetimepicker({baseCls: "perfect-datetimepicker",date: new Date()});</script>-->
                </div>
            </div>
        </div>
    </div>
</div>
<a href=""><h5 class="card-title" style="margin-left: 550px;">OUR CLIENTELE</h5></a><br>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
    <div class="row">
<div class="col-sm-3">
<div class="card" style="width: 18rem;">
 <a href=""> <img src="https://goodwillcoordinators.com/securewp/wp-content/uploads/2015/03/seimens.jpg" class="card-img-top" alt="..."></a>
  </div>
</div>
<div class="col-sm-3">
<div class="card" style="width: 18rem;">
  <a href=""><img src="https://goodwillcoordinators.com/securewp/wp-content/uploads/2015/03/amazon.jpg" class="card-img-top" alt="..."></a>
  </div>
</div>
<div class="col-sm-3">
<div class="card" style="width: 18rem;">
 <a href=""> <img src="https://goodwillcoordinators.com/securewp/wp-content/uploads/2015/03/itc-limited.jpg" class="card-img-top" alt="..."></a>
  </div>
</div>
<div class="col-sm-3">
<div class="card" style="width: 18rem;">
  <a href=""><img src="https://goodwillcoordinators.com/securewp/wp-content/uploads/2015/03/fujitsu.jpg" class="card-img-top" alt="..."></a>
  </div>
</div>
   </div>
   </div>
    <div class="carousel-item">
      <div class="row">
<div class="col-sm-3">
<div class="card" style="width: 18rem;">
 <a href=""> <img src="https://goodwillcoordinators.com/securewp/wp-content/uploads/2015/03/fujitsu.jpg" class="card-img-top" alt="..."></a>
  </div>
</div>
<div class="col-sm-3">
<div class="card" style="width: 18rem;">
  <a href=""><img src="https://goodwillcoordinators.com/securewp/wp-content/uploads/2015/03/daikin.jpg" class="card-img-top" alt="..."></a>
  </div>
</div>
<div class="col-sm-3">
<div class="card" style="width: 18rem;">
 <a href=""> <img src="https://goodwillcoordinators.com/securewp/wp-content/uploads/2015/03/york.jpg" class="card-img-top" alt="..."></a>
  </div>
</div>
<div class="col-sm-3">
<div class="card" style="width: 18rem;">
 <a href=""> <img src="https://goodwillcoordinators.com/securewp/wp-content/uploads/2015/03/dnv.jpg" class="card-img-top" alt="..."></a>
  </div>
</div>
   </div>
    </div>
  </div>
</div><br>

<a href="" class="btn btn-lg btn-danger" style="margin-left: 620px;">View All</a><hr><br>



<div class="row">
  <div class="col-md-12">
    <div class="container" style="margin-left:500px;">
      <div class="spinner-grow text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-secondary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-success" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-danger" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-warning" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-info" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-light" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-dark" role="status">
  <span class="sr-only">Loading...</span>
</div>

    </div>

  </div>

</div><br><br>
<footer class="footer footer-expand-lg footer-dark bg-dark text-light">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

              <!-- Content -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: green;">Library Rules :</h5>
              <p>Identity Card is compulsory for getting access to the library</p>
              <p>Silence to be maintained</p>
              <p>No discussion permitted inside the library</p>
              <p>No personal belongings allowed inside the library</p>
              <p>No discussion permitted inside the library</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: green;">Working Hours of the Library</h5>

              <ul class="list-unstyled" >
                <li>
                  <p>Monday to Friday 8 am to 9 pm (During Examination up to 10 PM)</p>
                </li>
                <li>
                <p>Saturday 8 am to 5 pm</p>
                </li>
                <li>
                  <p>Sundays 9 am to 5 pm (During Examination Time)</p>
                </li>

              </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: blue;">contact us</h5>

              <ul class="list-unstyled">
                <li>
                  <h6>+91-6303973431</h6>
                </li>
                <li>
                  <h6>+91-6370504347</h6>
                </li>
                <li>
                  <a href="#!">Email : sahooc300@gmail.com</a>
                </li>

              </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: aqua;">Address</h5>

              <ul class="list-unstyled" style="color: seagreen;">
                <li>
                 <h4>Takhatpur</h4>
                </li>
                <li>
                  <h4>Baripada</h4>
                </li>
                <li>
                  <h4>Mayurabhunj</h4>
                </li>
                <li>
                <h4>Odisha</h4>
                </li>
              </ul>

            </div>

          </div>


        </div>


        <hr>


        <ul class="list-unstyled list-inline text-center py-2">
          <li class="list-inline-item">
            <h5 class="mb-1">Register for free</h5>
          </li>
          <li class="list-inline-item">
            <a href="#!" class="btn btn-danger btn-rounded">Sign up!</a>
          </li>
        </ul>
        <!-- Call to action -->

        <hr>

        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item">
            <a class="btn-floating btn-fb mx-1">
              <i class="fab fa-facebook-f"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-tw mx-1">
              <i class="fab fa-twitter"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-gplus mx-1">
              <i class="fab fa-google-plus-g"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1">
              <i class="fab fa-linkedin-in"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-dribbble mx-1">
              <i class="fab fa-dribbble"> </i>
            </a>
          </li>
        </ul>
        <!-- Social buttons -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
          <a href="https://mdbootstrap.com/education/bootstrap/">Chandra Sekhar Sahoo</a>
        </div>
        <!-- Copyright -->

      </footer>
{% endblock %}
 