<!DOCTYPE html>
{% extends 'testapp/base.html' %}
{% block body_block %}
<div class="row">
<dir class="col-sm-6">
<div class="container">

  

<h4 style="color: green;">Core Python</h4>
<p>============</p>
<p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/history">History</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/feature">Features</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/sup">Setting up path</a></p>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/wp">Working with Python</a></p>
           <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/b">Basic Syntax</a></p>
            <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/da">  Variable and Data Types </a></p>
             <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/or">Operator</a></p>
             <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">  Immutable&Mutable Object </a></p><br>
             <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/if">If</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/if2">  If- else </a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/i4">if-elif-else</a></p><br>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">For</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">While</a></p><br>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Break</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Continue</a></p><br>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Introduction</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">String slices</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Function and Methods</a></p>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">List</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Tuple</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Set</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Dict</a></p><br>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Defining a function</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Calling a function </a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Function Arguments</a></p>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">  Anonymous functions</a></p>
           <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Global and local variables</a></p><br>
           <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Importing m</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">  Math module </a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Random module</a></p>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">    Packages</a></p><br>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">  Exception</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">  Exception Handling </a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Try,Except and Finally</a></p>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> User Defined Exception</a></p><br>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Writable</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">  Readable </a></p>
        
  
</div>
  
</dir>
<div class="col-sm-6">
<div class="container" style="margin-left: -200px;">
<div class="jumbotron" style="color: purple;">
<h2>Data Structure :-</h2>
<p>==========================</p>
<h2  style="color: green;">Dictionary Data Structure :-</h2>
<p >====================================================</p>
<p>We can use List,Tuple and Set to represent a group of individual objects as a single entity.</p>
<p>If we want to represent a group of objects as key-value pairs then we should go for
Dictionary.</p>
<p>==> Duplicate keys are not allowed but values can be duplicated.</p>
<p>==> Hetrogeneous objects are allowed for both key and values.</p>
<p>==> insertion order is not preserved.</p>
<p>==> Dictionaries are mutable.</p>
<p>==> indexing and slicing concepts are not applicable.</p>
<p>==> Note: In C++ and Java Dictionaries are known as "Map" where as in Perl and Ruby it is
known as "Hash"</p><br>
<h4>Syntax :</h4>
<p>================</p>
<p>d={key:value, key:value}</p>
<h4>Creation of Dictionary :-</h4>
<p>========================</p>
<h4>Source Code :-</h4><hr><hr>
<p> d2={}</p>
<p>print(s)</p>
<p>print(type(s))</p><hr><hr><br>
<h6>How to access data from the dictionary?</h6>
<p>================================================</p>
<p>We can access data by using keys.</p><br>
<h4>Source Code :-</h4><hr><hr>
<p>d={100:'muna' ,200:'ravi', 300:'shiva'}</p>
<p>print(d[100])</p>
<p>print(d[200])</p>
<p>print(d)</p><hr><hr><br>
<p>If the specified key is not available then we will get KeyError.</p>
<p>We can prevent this by checking whether key is already available or not by using
has_key() function or by using in operator.</p>
<p>But has_key() function is available only in Python 2 but not in Python 3. Hence
compulsory we have to use in operator.</p>
<h4>How to update dictionaries?</h4>
<p>=====================================</p>
<p>If the key is not available then a new entry will be added to the dictionary with the
specified key-value pair.</p>
<p>If the key is already available then old value will be replaced with new value.</p>
<h4>Source Code :-</h4>
<p>===================</p>
<p>d={100:"muna",200:"ravi",300:"shiva"}</p>
<p>d[200]="dhanu"</p>
<p>print(d)</p><hr><hr><br>
<h4>How to delete elements from dictionary?</h4>
<p>===============================================</p>
<p>del d[key]  :-</p>
<p>It deletes entry associated with the specified key.
If the key is not available then we will get KeyError.</p><br>
<h4>Source Code :-</h4><hr><hr>
<p>d={100:"muna",200:"ravi",300:"shiva"}</p>
<p>print(d)</p>
<p>del d[100]</p>
<p>print(d)</p><hr><hr><br>
<h4>Important functions of dictionary :-</h4>
<p>======================================</p>
<p>1. dict() :-</p>
<p>To create a dictionary</p>
<p>d=dict() ===>It creates empty dictionary.</p>
<p>d=dict({100:"durga",200:"ravi"}) ==>It creates dictionary with specified elements</p>
<p>d=dict([(100,"durga"),(200,"shiva"),(300,"ravi")])==>It creates dictionary with the given
list of tuple elements</p>
<h6>2. len()  :-</h6>
<p>Returns the number of items in the dictionary.</p><br>
<h6>3. clear() :-</h6>
<p>To remove all elements from the dictionary.</p><br>
<p>4. get()  :-</p>
<p>To get the value associated with the key.</p>
<p>d.get(key)</p><br>
<h4>Source Code :-</h4><hr><hr>
<p>d={100:"muna",200:"ravi",300:"shiva"}</p>
<p>print(d[100]) ==>muna</p>
<p>print(d.get(100,"Guest")) ==muna</p>
<p>print(d.get(100)) ==muna</p><hr><hr><br>
<p>3. pop() :-</p>
<p>It removes the entry associated with the specified key and returns the corresponding
value</p>
<p>d.pop(key)</p>
<h4>Source Code :-</h4><hr><hr>
<p>d={1:"muna",2:"suna",5:"rupa"}</p>
<p>print(d.pop(100))</p>
<p>print(d)</p><hr><hr><br>
<p>4. popitem() :-</p>
<p>It removes an arbitrary item(key-value) from the dictionaty and returns it.</p>
<h4>Source Code :-</h4><hr><hr>
<p>d={100:"muna",200:"ravi",300:"shiva"}</p>
<p>print(d.popitem())</p>
<p>print(d)</p><hr><hr><br>
<p>5. keys() :-</p>
<p>It returns all keys associated eith dictionary</p>
<h4>Source Code :-</h4>
<p>d={100:"muna",200:"ravi",300:"shiva"}</p>
<p>print(d.keys())</p>
<p>for k in d.keys():</p>
<p style="margin-left: 50px;">print(k)</p><hr><hr><br>
<p>7. items() :-</p>
<p>It returns list of tuples representing key-value pairs.</p>
<h4>Source Code :-</h4>
<p>d={100:"muna",200:"ravi",300:"shiva"}</p>
<p>for k,v in d.items():</p>
<p style="margin-left: 50px;">print(k,"--",v)</p><hr><hr><br>
<p>8. setdefault() :-</p>
<p>If the key is already available then this function returns the corresponding value.
If the key is not available then the specified key-value will be added as new item to the
dictionary.</p>
<h4>Source Code :-</h4>
<p>d={100:"muna",200:"ravi",300:"shiva"}</p>
<p>print(d.setdefault(400,"pavan"))</p>
<p>print(d)</p><hr><hr><br>
<h4>Set Comprehension :-</h4>
<p>==============================</p>
<p>Comprehension concept applicable for dictionaries also.</p>
<h4>Source Code :-</h4><hr><hr>
<p>squares={x:x*x for x in range(1,6)}</p>
<p>print(squares)</p><hr><hr>
<h4>Source Code :-</h4><hr><hr>
<p>doubles={x:2*x for x in range(1,6)}</p>
<p>print(doubles)</p><hr><hr>
</div>
  
</div>
</div>
  
</div><br>
<div class="container">
<a href="/enquiry" class="btn btn-lg btn-success" style="margin-left: 500px;">Enquiry</a>
</div><br><br>
<div class="row">
  <div class="col-md-12">
    <div class="container" style="margin-left:500px;">
      <div class="spinner-grow text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-secondary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-success" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-danger" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-warning" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-info" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-light" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-dark" role="status">
  <span class="sr-only">Loading...</span>
</div>

    </div>

  </div>

</div><br><br>
<footer class="footer footer-expand-lg footer-dark bg-dark text-light">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

              <!-- Content -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: green;">Library Rules :</h5>
              <p>Identity Card is compulsory for getting access to the library</p>
              <p>Silence to be maintained</p>
              <p>No discussion permitted inside the library</p>
              <p>No personal belongings allowed inside the library</p>
              <p>No discussion permitted inside the library</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: green;">Working Hours of the Library</h5>

              <ul class="list-unstyled" >
                <li>
                  <p>Monday to Friday 8 am to 9 pm (During Examination up to 10 PM)</p>
                </li>
                <li>
                <p>Saturday 8 am to 5 pm</p>
                </li>
                <li>
                  <p>Sundays 9 am to 5 pm (During Examination Time)</p>
                </li>

              </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: blue;">contact us</h5>

              <ul class="list-unstyled">
                <li>
                  <h6>+91-6303973431</h6>
                </li>
                <li>
                  <h6>+91-6370504347</h6>
                </li>
                <li>
                  <a href="#!">Email : sahooc300@gmail.com</a>
                </li>

              </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: aqua;">Address</h5>

              <ul class="list-unstyled" style="color: seagreen;">
                <li>
                 <h4>Takhatpur</h4>
                </li>
                <li>
                  <h4>Baripada</h4>
                </li>
                <li>
                  <h4>Mayurabhunj</h4>
                </li>
                <li>
                <h4>Odisha</h4>
                </li>
              </ul>

            </div>

          </div>


        </div>


        <hr>


        <ul class="list-unstyled list-inline text-center py-2">
          <li class="list-inline-item">
            <h5 class="mb-1">Register for free</h5>
          </li>
          <li class="list-inline-item">
            <a href="#!" class="btn btn-danger btn-rounded">Sign up!</a>
          </li>
        </ul>
        <!-- Call to action -->

        <hr>

        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item">
            <a class="btn-floating btn-fb mx-1">
              <i class="fab fa-facebook-f"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-tw mx-1">
              <i class="fab fa-twitter"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-gplus mx-1">
              <i class="fab fa-google-plus-g"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1">
              <i class="fab fa-linkedin-in"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-dribbble mx-1">
              <i class="fab fa-dribbble"> </i>
            </a>
          </li>
        </ul>
        <!-- Social buttons -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
          <a href="https://mdbootstrap.com/education/bootstrap/">Chandra Sekhar Sahoo</a>
        </div>
        <!-- Copyright -->

      </footer>

{% endblock %}