<!DOCTYPE html>
{% extends 'testapp/base.html' %}
{% block body_block %}
<h1 style="font-size:100px;color:green;"><marquee>Here you Learn about DJANGO </marquee></h1>

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          DJANGO
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
      <h4 style="color:green;">DJANGO : -</h4>
      <p>-------------------------</p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">History</a></p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Features</a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Setting up path</a></p>
          <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">How to install django</a></p>
           <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Django Project vs Django Application</a></p>
            
             
      
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">How to create Django Project</a></p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> How to Run Django Development Server</a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">How to Send First Request <p></a>
          <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Role of Web Server <p></a></p><br>
        
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Creation of First Web Application</a></p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Activities required for Application</a></p><br>
      
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Diagram</a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Defining URL Patterns at Application Level instead of
Project Level</a></p><br>
         
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Demo Application</a></p>
         <h4 style="color:green;">DJANGO Template: -</h4>
      <p>-------------------------</p><br>
         
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Steps to develop Template Based Application</a></p>
        
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Template Tags</a></p><br>
          <h4 style="color:green;">Working with Static Files : -</h4>
      <p>-------------------------</p><br>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Process to include Static Files inside Template</a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">How to include css file</a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">NEWS PORTAL Application</a></p><br>
          <h4 style="color:green;">Working with Models and Databases : -</h4>
      <p>-------------------------</p><br>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Database Configuration</a></p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">How to Check Django Database Connection</a></p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Configuration of MySQL Database</a></p>
        
        
          <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Model Class</a></p><br>
          <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Faker Module</a></p><br>
          <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Django Forms</a></p><br>
          <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> model form</a></p><br>
          <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Template Inheritance</a></p><br>
          <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Tempalte Filters</a></p><br>
          <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Session Management</a></p><br>
          <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Cookies</a></p><br>
          <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> User Authentication and Authorization</a></p><br>
          <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Class Based Views</a></p><br>
          <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Django CRUD Operations</a></p><br>
          <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Differences between CBVs and FBVs</a></p><br>
          <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Django ORM</a></p><br>
          
            
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         Django's some Adv Concept
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
           
           <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Custom Template</a></p><br>
           <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Advance Authentication</a></p><br>
           <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""></a></p><br>
           <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Advance ORM</a></p><br>
           <br>
           
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Some small project
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
      

         <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> JOB Hiring</a></p><br>
         <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> OYO Hotel</a></p><br>
         <
         
        
      </div>
    </div>
  </div>
</div><br><br>
<div class="container">
<a href="/enquiry" class="btn btn-lg btn-success" style="margin-left: 500px;">Enquiry</a>
</div><br><br>
<div class="row">
  <div class="col-md-12">
    <div class="container" style="margin-left:500px;">
      <div class="spinner-grow text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-secondary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-success" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-danger" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-warning" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-info" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-light" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-dark" role="status">
  <span class="sr-only">Loading...</span>
</div>

    </div>

  </div>

</div><br><br>
<footer class="footer footer-expand-lg footer-dark bg-dark text-light">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

              <!-- Content -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: green;">Library Rules :</h5>
              <p>Identity Card is compulsory for getting access to the library</p>
              <p>Silence to be maintained</p>
              <p>No discussion permitted inside the library</p>
              <p>No personal belongings allowed inside the library</p>
              <p>No discussion permitted inside the library</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: green;">Working Hours of the Library</h5>

              <ul class="list-unstyled" >
                <li>
                  <p>Monday to Friday 8 am to 9 pm (During Examination up to 10 PM)</p>
                </li>
                <li>
                <p>Saturday 8 am to 5 pm</p>
                </li>
                <li>
                  <p>Sundays 9 am to 5 pm (During Examination Time)</p>
                </li>

              </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: blue;">contact us</h5>

              <ul class="list-unstyled">
                <li>
                  <h6>+91-6303973431</h6>
                </li>
                <li>
                  <h6>+91-6370504347</h6>
                </li>
                <li>
                  <a href="#!">Email : sahooc300@gmail.com</a>
                </li>

              </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: aqua;">Address</h5>

              <ul class="list-unstyled" style="color: seagreen;">
                <li>
                 <h4>Takhatpur</h4>
                </li>
                <li>
                  <h4>Baripada</h4>
                </li>
                <li>
                  <h4>Mayurabhunj</h4>
                </li>
                <li>
                <h4>Odisha</h4>
                </li>
              </ul>

            </div>

          </div>


        </div>


        <hr>


        <ul class="list-unstyled list-inline text-center py-2">
          <li class="list-inline-item">
            <h5 class="mb-1">Register for free</h5>
          </li>
          <li class="list-inline-item">
            <a href="#!" class="btn btn-danger btn-rounded">Sign up!</a>
          </li>
        </ul>
        <!-- Call to action -->

        <hr>

        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item">
            <a class="btn-floating btn-fb mx-1">
              <i class="fab fa-facebook-f"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-tw mx-1">
              <i class="fab fa-twitter"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-gplus mx-1">
              <i class="fab fa-google-plus-g"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1">
              <i class="fab fa-linkedin-in"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-dribbble mx-1">
              <i class="fab fa-dribbble"> </i>
            </a>
          </li>
        </ul>
        <!-- Social buttons -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
          <a href="https://mdbootstrap.com/education/bootstrap/">Chandra Sekhar Sahoo</a>
        </div>
        <!-- Copyright -->

      </footer>
{% endblock %}
 