<!DOCTYPE html>
{% extends 'testapp/base.html' %}
{% block body_block %}
<div class="row">
<dir class="col-sm-6">
<div class="container">

	

<h4 style="color: green;">Core Python</h4>
<p>============</p>
<p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/history">History</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/feature">Features</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/sup">Setting up path</a></p>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/wp">Working with Python</a></p>
           <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/b">Basic Syntax</a></p>
            <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/da">  Variable and Data Types </a></p>
             <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/or">Operator</a></p>
             <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">  Immutable&Mutable Object </a></p><br>
             <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/if">If</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/if2">  If- else </a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/i4">if-elif-else</a></p><br>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">For</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">While</a></p><br>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Break</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Continue</a></p><br>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Introduction</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">String slices</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Function and Methods</a></p>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">List</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Tuple</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Set</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Dict</a></p><br>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Defining a function</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Calling a function </a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Function Arguments</a></p>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">  Anonymous functions</a></p>
           <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Global and local variables</a></p><br>
           <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Importing m</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">  Math module </a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Random module</a></p>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">    Packages</a></p><br>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">  Exception</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">  Exception Handling </a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Try,Except and Finally</a></p>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> User Defined Exception</a></p><br>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Writable</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">  Readable </a></p>
        
	
</div>
	
</dir>
<div class="col-sm-6">
<div class="container" style="margin-left: -200px;">
<div class="jumbotron" style="color: purple;">
<h2>File Handling :-</h2>
<p>====================================</p>
<h4>File :-</h4>
<p>==============</p>
<p>As the part of programming requirement, we have to store our data permanently for
future purpose. For this requirement we should go for files.</p>
<p>Files are very common permanent storage areas to store our data.</p>
<h4>Types of File :-</h4>
<p>=========================</p>
<p>There are two types of file.</p>
<p>1. Text Files:</p>
<p>Usually we can use text files to store character data, like this
eg: abc.txt</p>
<p>2. Binary Files:</p>
<p>Usually we can use binary files to store binary data like images,video files, audio files etc...</p>
<h4>Opening a File :-</h4>
<p>=========================</p>
<p>Before performing any operation (like read or write) on the file,first we have to open that
file.For this we should use Python's inbuilt function open()</p>
<p>f = open(filename, mode)</p>
<p>1. r  open an existing file for read operation. The file pointer is positioned at the
beginning of the file.If the specified file does not exist then we will get
FileNotFoundError.This is default mode.</p>
<p>2. w  open an existing file for write operation. If the file already contains some data
then it will be overridden. If the specified file is not already avaialble then this mode will
create that file.</p>
<p>3. a  open an existing file for append operation. It won't override existing data.If the
specified file is not already avaialble then this mode will create a new file.</p>
<p>4. r+  To read and write data into the file. The previous data in the file will not be
deleted.The file pointer is placed at the beginning of the file.</p>
<p>5. w+  To write and read data. It will override existing data.</p>
<p>6. a+  To append and read data from the file.It wont override existing data.</p>
<p>7. x  To open a file in exclusive creation mode for write operation. If the file already
exists then we will get FileExistsError.</p><br>
<p>f = open("abc.txt","w")</p>
<h4>Closing a File :-</h4>
<p>======================</p>
<p>After completing our operations on the file,it is highly recommended to close the file.
For this we have to use close() function.</p>
<p>f.close()</p><br>
<h4>Various properties of File Object :-</h4>
<p>=======================================================</p>
<p>Once we opend a file and we got file object,we can get various details related to that file
by using its properties.</p>
<p>name ==> Name of opened file</p>
<p>mode ==> Mode in which the file is opened</p>
<p>closed ==> Returns boolean value indicates that file is closed or not</p>
<p>readable() ==> Retruns boolean value indicates that whether file is readable or not</p>
<p>writable() ==> Returns boolean value indicates that whether file is writable or not.</p>
<h4>Source Code :-</h4><hr><hr>
<p>f=open("abc.txt",'w')</p>
<p>print("File Name: ",f.name)</p>
<p>print("File Mode: ",f.mode)</p>
<p>print("Is File Readable: ",f.readable())</p>
<p>print("Is File Writable: ",f.writable())</p>
<p>print("Is File Closed : ",f.closed)</p><hr><hr>
<h4>Source Code :-</h4><hr><hr>
<p>a=open("abc.txt","w")</p>
<p>a.write("Muna")</p>
<p>print("Data successfully load inside file")</p>
<p>a.close()</p><hr><hr>
</div>
	
</div>
</div>
	
</div><br>
<div class="container">
<a href="/enquiry" class="btn btn-lg btn-success" style="margin-left: 500px;">Enquiry</a>
</div><br><br>
<div class="row">
  <div class="col-md-12">
    <div class="container" style="margin-left:500px;">
      <div class="spinner-grow text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-secondary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-success" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-danger" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-warning" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-info" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-light" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-dark" role="status">
  <span class="sr-only">Loading...</span>
</div>

    </div>

  </div>

</div><br><br>
<footer class="footer footer-expand-lg footer-dark bg-dark text-light">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

              <!-- Content -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: green;">Library Rules :</h5>
              <p>Identity Card is compulsory for getting access to the library</p>
              <p>Silence to be maintained</p>
              <p>No discussion permitted inside the library</p>
              <p>No personal belongings allowed inside the library</p>
              <p>No discussion permitted inside the library</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: green;">Working Hours of the Library</h5>

              <ul class="list-unstyled" >
                <li>
                  <p>Monday to Friday 8 am to 9 pm (During Examination up to 10 PM)</p>
                </li>
                <li>
                <p>Saturday 8 am to 5 pm</p>
                </li>
                <li>
                  <p>Sundays 9 am to 5 pm (During Examination Time)</p>
                </li>

              </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: blue;">contact us</h5>

              <ul class="list-unstyled">
                <li>
                  <h6>+91-6303973431</h6>
                </li>
                <li>
                  <h6>+91-6370504347</h6>
                </li>
                <li>
                  <a href="#!">Email : sahooc300@gmail.com</a>
                </li>

              </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: aqua;">Address</h5>

              <ul class="list-unstyled" style="color: seagreen;">
                <li>
                 <h4>Takhatpur</h4>
                </li>
                <li>
                  <h4>Baripada</h4>
                </li>
                <li>
                  <h4>Mayurabhunj</h4>
                </li>
                <li>
                <h4>Odisha</h4>
                </li>
              </ul>

            </div>

          </div>


        </div>


        <hr>


        <ul class="list-unstyled list-inline text-center py-2">
          <li class="list-inline-item">
            <h5 class="mb-1">Register for free</h5>
          </li>
          <li class="list-inline-item">
            <a href="#!" class="btn btn-danger btn-rounded">Sign up!</a>
          </li>
        </ul>
        <!-- Call to action -->

        <hr>

        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item">
            <a class="btn-floating btn-fb mx-1">
              <i class="fab fa-facebook-f"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-tw mx-1">
              <i class="fab fa-twitter"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-gplus mx-1">
              <i class="fab fa-google-plus-g"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1">
              <i class="fab fa-linkedin-in"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-dribbble mx-1">
              <i class="fab fa-dribbble"> </i>
            </a>
          </li>
        </ul>
        <!-- Social buttons -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
          <a href="https://mdbootstrap.com/education/bootstrap/">Chandra Sekhar Sahoo</a>
        </div>
        <!-- Copyright -->

      </footer>

{% endblock %}