<!DOCTYPE html>
{% extends 'testapp/base.html' %}
{% block body_block %}
<div class="row">
<dir class="col-sm-6">
<div class="container">

	

<h4 style="color: green;">Core Python</h4>
<p>============</p>
<p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/history">History</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/feature">Features</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/sup">Setting up path</a></p>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/wp">Working with Python</a></p>
           <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/b">Basic Syntax</a></p>
            <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/da">  Variable and Data Types </a></p>
             <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/or">Operator</a></p>
             <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">  Immutable&Mutable Object </a></p><br>
             <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/if">If</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/if2">  If- else </a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/i4">if-elif-else</a></p><br>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">For</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">While</a></p><br>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Break</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Continue</a></p><br>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Introduction</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">String slices</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Function and Methods</a></p>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">List</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Tuple</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Set</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Dict</a></p><br>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Defining a function</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Calling a function </a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Function Arguments</a></p>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">  Anonymous functions</a></p>
           <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Global and local variables</a></p><br>
           <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Importing m</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">  Math module </a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Random module</a></p>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">    Packages</a></p><br>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">  Exception</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">  Exception Handling </a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Try,Except and Finally</a></p>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> User Defined Exception</a></p><br>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Writable</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">  Readable </a></p>
        
	
</div>
	
</dir>
<div class="col-sm-6">
<div class="container" style="margin-left: -200px;">
<div class="jumbotron" style="color: purple;">
	

<h4>Features of Python</h4>
<p>-------------------------</p><br>
<h6>1. Simple and easy to learn :</h6><br>
<p>Python is a simple programming language. When we read Python program,we can feel like
reading english statements.
The syntaxes are very simple and only 30+ kerywords are available.
When compared with other languages, we can write programs with very less number of
lines. Hence more readability and simplicity.
We can reduce development and cost of the project.</p><br>
<h6>2. Freeware and Open Source  :</h6><br>
<p>We can use Python software without any licence and it is freeware.
Its source code is open,so that we can we can customize based on our requirement.</p><br>
<h6>3. High Level Programming language   :</h6><br>
<p>Python is high level programming language and hence it is programmer friendly language.
Being a programmer we are not required to concentrate low level activities like memory
management and security etc..</p><br>
<h6>4. Platform Independent  :</h6><br>
<p>Once we write a Python program,it can run on any platform without rewriting once again.
Internally PVM is responsible to convert into machine understandable form.</p><br>
<h6>5. Portability   :</h6><br>
<p>Python programs are portable. ie we can migrate from one platform to another platform
very easily. Python programs will provide same results on any paltform.</p><br>
<h6>6. Dynamically Typed  :</h6><br>
<p>In Python we are not required to declare type for variables. Whenever we are assigning
the value, based on value, type will be allocated automatically.Hence Python is considered
as dynamically typed language.
But Java, C etc are Statically Typed Languages b'z we have to provide type at the beginning
only.
This dynamic typing nature will provide more flexibility to the programmer.</p><br>
<h6>7. Both Procedure Oriented and Object Oriented    :</h6><br>
<p>Python language supports both Procedure oriented (like C, pascal etc) and object oriented
(like C++,Java) features. Hence we can get benefits of both like security and reusability etc</p><br>
<h6>8. Interpreted   :</h6><br>
<p>We are not required to compile Python programs explcitly. Internally Python interpreter
will take care that compilation.
If compilation fails interpreter raised syntax errors. Once compilation success then PVM
(Python Virtual Machine) is responsible to execute.</p><br>
<h6>9. Extensible  :</h6><br>
<p>We can use other language programs in Python.
The main advantages of this approach are:</p>
<p>1. We can use already existing legacy non-Python code
2. We can improve performance of the application</p><br>
<h6>10. Embedded   :</h6><br>
<p>We can use Python programs in any other language programs.
i.e we can embedd Python programs anywhere.</p><br>
<h6>11. Extensive Library  :</h6><br>
<p>Python has a rich inbuilt library.
Being a programmer we can use this library directly and we are not responsible to
implement the functionality.</p><br><br>
<h4>Flavors of Python :</h4>
<p>---------------------------</p><br>
<h6>1.CPython   :</h6><br>
<p>It is the standard flavor of Python. It can be used to work with C lanugage Applications</p><br>
<h6>2. Jython or JPython   :</h6><br>
<p>It is for Java Applications. It can run on JVM</p><br>
<h6>3. IronPython  :</h6><br>
<p>It is for C#.Net platform</p><br>
<h6>4.PyPy   :</h6><br>
<p>The main advantage of PyPy is performance will be improved because JIT compiler is
available inside PVM.</p><br>
<h6>5.RubyPython   :</h6><br>
<p>For Ruby Platforms.</p><br>
<h6>6. AnacondaPython   :</h6><br>
<p>It is specially designed for handling large volume of data processing</p>




	</div>
	
</div>
</div>
	
</div><br>
<div class="container">
<a href="/enquiry" class="btn btn-lg btn-success" style="margin-left: 500px;">Enquiry</a>
</div><br><br>
<div class="row">
  <div class="col-md-12">
    <div class="container" style="margin-left:500px;">
      <div class="spinner-grow text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-secondary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-success" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-danger" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-warning" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-info" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-light" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-dark" role="status">
  <span class="sr-only">Loading...</span>
</div>

    </div>

  </div>

</div><br><br>
<footer class="footer footer-expand-lg footer-dark bg-dark text-light">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

              <!-- Content -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: green;">Library Rules :</h5>
              <p>Identity Card is compulsory for getting access to the library</p>
              <p>Silence to be maintained</p>
              <p>No discussion permitted inside the library</p>
              <p>No personal belongings allowed inside the library</p>
              <p>No discussion permitted inside the library</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: green;">Working Hours of the Library</h5>

              <ul class="list-unstyled" >
                <li>
                  <p>Monday to Friday 8 am to 9 pm (During Examination up to 10 PM)</p>
                </li>
                <li>
                <p>Saturday 8 am to 5 pm</p>
                </li>
                <li>
                  <p>Sundays 9 am to 5 pm (During Examination Time)</p>
                </li>

              </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: blue;">contact us</h5>

              <ul class="list-unstyled">
                <li>
                  <h6>+91-6303973431</h6>
                </li>
                <li>
                  <h6>+91-6370504347</h6>
                </li>
                <li>
                  <a href="#!">Email : sahooc300@gmail.com</a>
                </li>

              </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: aqua;">Address</h5>

              <ul class="list-unstyled" style="color: seagreen;">
                <li>
                 <h4>Takhatpur</h4>
                </li>
                <li>
                  <h4>Baripada</h4>
                </li>
                <li>
                  <h4>Mayurabhunj</h4>
                </li>
                <li>
                <h4>Odisha</h4>
                </li>
              </ul>

            </div>

          </div>


        </div>


        <hr>


        <ul class="list-unstyled list-inline text-center py-2">
          <li class="list-inline-item">
            <h5 class="mb-1">Register for free</h5>
          </li>
          <li class="list-inline-item">
            <a href="#!" class="btn btn-danger btn-rounded">Sign up!</a>
          </li>
        </ul>
        <!-- Call to action -->

        <hr>

        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item">
            <a class="btn-floating btn-fb mx-1">
              <i class="fab fa-facebook-f"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-tw mx-1">
              <i class="fab fa-twitter"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-gplus mx-1">
              <i class="fab fa-google-plus-g"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1">
              <i class="fab fa-linkedin-in"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-dribbble mx-1">
              <i class="fab fa-dribbble"> </i>
            </a>
          </li>
        </ul>
        <!-- Social buttons -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
          <a href="https://mdbootstrap.com/education/bootstrap/">Chandra Sekhar Sahoo</a>
        </div>
        <!-- Copyright -->

      </footer>
{% endblock %}