<!DOCTYPE html>
{% extends 'testapp/base.html' %}
{% block body_block %}
<h1 style="font-size:100px;color:green;"><marquee>Here you Learn about Core java  Adv java and some programming </marquee></h1>

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Core Java
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
      <h4 style="color:green;">Basics of Java : -</h4>
      <p>--------------------------------</p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Java - What, Where and Why?</a></p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">History and Features of Java</a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Difference between JDK,JRE and JVM</a></p>
          <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Internal Details of JVM</a></p>
           <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Basic Syntax</a></p>
            <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">  Variable and Data Types </a></p>
             <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Operator</a></p>
             <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">  Immutable&Mutable Object </a></p><br>
             <h4 style="color:green;">Control Flow Statements : -</h4><hr>
             <h4 style="color:green;">Conditional Statements : -</h4>
      <p>----------------------------------------</p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">If</a></p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">  If- else </a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">if-else if-else</a></p><br>
         <h4 style="color:green;">Looping Statement : -</h4>
      <p>------------------------------------</p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">For</a></p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">While</a></p><br>
        <h4 style="color:green;">Transfer Statement : -</h4>
      <p>------------------------------------</p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Break</a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Continue</a></p><br>
         <h4 style="color:green;">String Manipulitation : -</h4>
      <p>------------------------------------</p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Introduction</a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">String slices</a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Function and Methods</a></p>
          <h4 style="color:green;"> : OOPS Conecpts-</h4>
      <p>------------------------------------</p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Advantage of OOPs</a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Object and Class</a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Method Overloading</a></p>
          <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Constructor</a></p>
           <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Method Overloading</a></p>
            <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Method Overriding</a></p>
             <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> this keyword</a></p>
              <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Inheritance (IS-A)</a></p>
               <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Inheritance (HAS-A)</a></p>
                <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> super keyword</a></p>
                 <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">   Instance Initializer block</a></p>
                 <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">final keyword</a></p>
                 <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">   Runtime Polymorphism</a></p>
                 <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">   Abstract class</a></p>
                 <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">    Interface</a></p>
                 <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">   Package and Access Modifiers</a></p>
                 <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">   Encapsulation</a></p>
                 <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">   Object class</a></p>
                 <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">     Call By Value and Call By Reference</a></p>
                 
                  
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Array</a></p><br>
         <h4 style="color:green;">Input and outpu : -</h4>
      <p>----------------</p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Defining a function</a></p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">  FileOutputStream & FileInputStream </a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">BufferedOutputStream & BufferedInputStream </a></p>
          <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Input from keyboard by Scanner</a></p>
           <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> PrintStream class</a></p><br>
           <h4 style="color:green;">Modules : -</h4>
      <p>----------------</p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Importing </a></p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">  Math module </a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Random module</a></p>
          <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">    Packages</a></p><br>
          <h4 style="color:green;">File Handling : -</h4>
      <p>----------------</p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Writable</a></p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">  Readable </a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> FileWriter & FileReader </a></p>
        <br>
        <h4 style="color:green;">Exception Handling : -</h4>
      <p>----------------</p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">  Exception</a></p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">  Exception Handling </a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Try,Catch and Finally</a></p>
          <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> User Defined Exception</a></p><br>
           <h4 style="color:green;">Multi Threading : -</h4>
      <p>------------------------------------</p>
         
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Thread</a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Life Cycle of a Thread</a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">   Daemon Thread</a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Starting a thread </a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""></a> Garbage Collection</p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Synchronizing threads</a></p>
         
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Lock</a></p>
          
            
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Advance Java
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
       
             
             <h4 style="color:green;">JDBC : -</h4>
      <p>-------------------</p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Introduction</a></p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">  Connections </a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Executing queries</a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> MySql </a></p><br>
         <h4 style="color:green;"> Advance Concept : -</h4>
      <p>------------------------------------</p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Iterator</a></p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Generator</a></p>
      
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Decorator</a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Closure</a></p><br>
         <h4 style="color:green;">Regular Expression : -</h4>
      <p>------------------------------------</p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Match function </a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Search function</a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Matching VS Searching</a></p>
         
        
           
           <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Applet</a></p><br>
           <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">SERIALIZATION</a></p><br>
           <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">DE-SERIALIZATION</a></p><br>
           <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">ArrayList class & LinkedList class</a></p><br>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Some Programming
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
      <h4 style="color:green;">Pattern Program : -</h4>
      <p>------------------------------------</p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">pattern 1 to 20 programming </a></p><br>

         <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Factorial Number</a></p><br>
         <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Fibonacci series</a></p><br>
         <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Armstrong Number</a></p><br>
         <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Even or Odd </a></p><br>
         <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Add Two Number</a></p><br>
         <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Minimum Number</a></p><br>
         <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Prime Number</a></p><br>
         <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Polyndrome Number</a></p><br>
         <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> </a></p><br>
         <h4 style="color:green;">Algorithms : -</h4>
      <p>------------------------------------</p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Buble sort </a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Binary Search </a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Quick Sort </a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Merge Sort </a></p><br>
        
      </div>
    </div>
  </div>
</div><br><br>
<div class="container">
<a href="/enquiry" class="btn btn-lg btn-success" style="margin-left: 500px;">Enquiry</a>
</div><br><br>
<div class="row">
  <div class="col-md-12">
    <div class="container" style="margin-left:500px;">
      <div class="spinner-grow text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-secondary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-success" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-danger" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-warning" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-info" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-light" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-dark" role="status">
  <span class="sr-only">Loading...</span>
</div>

    </div>

  </div>

</div><br><br>
<footer class="footer footer-expand-lg footer-dark bg-dark text-light">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

              <!-- Content -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: green;">Library Rules :</h5>
              <p>Identity Card is compulsory for getting access to the library</p>
              <p>Silence to be maintained</p>
              <p>No discussion permitted inside the library</p>
              <p>No personal belongings allowed inside the library</p>
              <p>No discussion permitted inside the library</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: green;">Working Hours of the Library</h5>

              <ul class="list-unstyled" >
                <li>
                  <p>Monday to Friday 8 am to 9 pm (During Examination up to 10 PM)</p>
                </li>
                <li>
                <p>Saturday 8 am to 5 pm</p>
                </li>
                <li>
                  <p>Sundays 9 am to 5 pm (During Examination Time)</p>
                </li>

              </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: blue;">contact us</h5>

              <ul class="list-unstyled">
                <li>
                  <h6>+91-6303973431</h6>
                </li>
                <li>
                  <h6>+91-6370504347</h6>
                </li>
                <li>
                  <a href="#!">Email : sahooc300@gmail.com</a>
                </li>

              </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: aqua;">Address</h5>

              <ul class="list-unstyled" style="color: seagreen;">
                <li>
                 <h4>Takhatpur</h4>
                </li>
                <li>
                  <h4>Baripada</h4>
                </li>
                <li>
                  <h4>Mayurabhunj</h4>
                </li>
                <li>
                <h4>Odisha</h4>
                </li>
              </ul>

            </div>

          </div>


        </div>


        <hr>


        <ul class="list-unstyled list-inline text-center py-2">
          <li class="list-inline-item">
            <h5 class="mb-1">Register for free</h5>
          </li>
          <li class="list-inline-item">
            <a href="#!" class="btn btn-danger btn-rounded">Sign up!</a>
          </li>
        </ul>
        <!-- Call to action -->

        <hr>

        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item">
            <a class="btn-floating btn-fb mx-1">
              <i class="fab fa-facebook-f"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-tw mx-1">
              <i class="fab fa-twitter"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-gplus mx-1">
              <i class="fab fa-google-plus-g"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1">
              <i class="fab fa-linkedin-in"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-dribbble mx-1">
              <i class="fab fa-dribbble"> </i>
            </a>
          </li>
        </ul>
        <!-- Social buttons -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
          <a href="https://mdbootstrap.com/education/bootstrap/">Chandra Sekhar Sahoo</a>
        </div>
        <!-- Copyright -->

      </footer>
{% endblock %}



 