<!DOCTYPE html>
{% extends 'testapp/base.html' %}
{% block body_block %}
<div class="row">
<dir class="col-sm-6">
<div class="container">

	

<h4 style="color: green;">Core Python</h4>
<p>============</p>
<p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/history">History</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/feature">Features</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/sup">Setting up path</a></p>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/wp">Working with Python</a></p>
           <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/b">Basic Syntax</a></p>
            <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/da">  Variable and Data Types </a></p>
             <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/or">Operator</a></p>
             <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">  Immutable&Mutable Object </a></p><br>
             <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/if">If</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/if2">  If- else </a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/i4">if-elif-else</a></p><br>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">For</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">While</a></p><br>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Break</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Continue</a></p><br>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Introduction</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">String slices</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Function and Methods</a></p>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">List</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Tuple</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Set</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Dict</a></p><br>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Defining a function</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Calling a function </a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Function Arguments</a></p>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">  Anonymous functions</a></p>
           <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Global and local variables</a></p><br>
           <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Importing m</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">  Math module </a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Random module</a></p>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">    Packages</a></p><br>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">  Exception</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">  Exception Handling </a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Try,Except and Finally</a></p>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> User Defined Exception</a></p><br>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Writable</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">  Readable </a></p>
        
	
</div>
	
</dir>
<div class="col-sm-6">
<div class="container" style="margin-left: -200px;">
<div class="jumbotron" style="color: purple;">
<h2>Data Structure :-</h2>
<p>==========================</p>
<p>If we want to represent a group of individual objects as a single entity where insertion
order preserved and duplicates are allowed, then we should go for List.</p>
<p>==> insertion order preserved.</p>
<p>==> duplicate objects are allowed.</p>
<p>==> heterogeneous objects are allowed.</p>
<p>==> List is dynamic because based on our requirement we can increase the size and decrease
the size.</p>
<p>==> In List the elements will be placed within square brackets and with comma seperator.</p>
<p>==> We can differentiate duplicate elements by using index and we can preserve insertion
order by using index. Hence index will play very important role.</p>
<p>==> Python supports both positive and negative indexes. +ve index means from left to right
where as negative index means right to left.</p>
<p>==> List objects are mutable.i.e we can change the content.</p>
<p>Creation of List Objects  :</p>
<p>=================================</p>
<p>Source Code :-</p><hr><hr>
<p>list=[]</p>
<p>print(list)</p>
<p>print(type(list))</p><hr><hr><br>
<p>2. If we know elements already then we can create list as follows
list=[10,20,30,40]</p>
<p>3. With dynamic input :</p>
<p>=============================</p>
<p>Source Code :-</p><hr><hr>
<p>list=eval(input("Enter List:"))</p>
<p>print(list)</p>
<p>print(type(list))</p><hr><hr><br>
<p>4. With list() function :-</p>
<p>=================================</p>
<p>Source Code :-</p><hr><hr>
<p>l=list(range(0,10,2))</p>
<p>print(l)</p>
<p>print(type(l))</p><hr><hr><br>
<p>5. with split() function :-</p>
<p>===============================</p>
<p>Source Code :-</p><hr><hr>
<p>s="Learning Python is very very easy !!!"</p>
<p>l=s.split()</p>
<p>print(l)</p>
<p>print(type(l))</p><hr><hr><br>
<p>Accessing elements of List :-</p>
<p>==================================</p>
<p>We can access elements of the list either by using index or by using slice operator(:)</p>
<p>1. By using index :-</p>
<p>==========================</p>
<p>List follows zero based index. ie index of first element is zero.</p>
<p>List supports both +ve and -ve indexes.</p>
<p>+ve index meant for Left to Right and 
-ve index meant for Right to Left</p>
<p>Source Code :-</p><hr><hr>
<p>list=[10,20,30,40]</p>
<p>print(list[0]) ==>10</p>
<p>print(list[-1]) ==>40</p>
<p>print(list[10]) ==>IndexError: list index out of range</p><hr><hr><br>
<p>2. By using slice operator  :-</p>
<p>=====================================</p>
<p>Syntax :-</p>
<p>list2= list1[start:stop:step]</p>
<p>Source Code :-</p><hr><hr>
<p>n=[1,2,3,4,5,6,7,8,9,10]</p>
<p>print(n[2:7:2])</p>
<p>print(n[4::2])</p>
<p>print(n[8:2:-2])</p>
<p>print(n[4:100])</p><hr><hr><br>
<h4 style="color: red;">List vs mutability :-</h4>
<p>==================================================</p>
<p>Once we creates a List object,we can modify its content. Hence List objects are mutable.</p>
<p>Source Code :-</p><hr><hr>
<p>n=[10,20,30,40]</p>
<p>print(n)</p>
<p>n[1]=777</p>
<p>print(n)</p><hr><hr><br>
<h2>Important functions of List :-</h2>
<p>=======================================</p>
<p>I. To get information about list :-</p>
<p>=========================================</p>
<p>1. len():</p>
<p>==============</p>
<p>returns the number of elements present in the list</p>
<p>Source Code :-</p><hr><hr>
<p>n=[10,20,30,40]</p>
<p>print(len(n))==>4</p><hr><hr><br>
<p>2. count():</p>
<p>===============</p>
<p>It returns the number of occurrences of specified item in the list.</p>
<p>Source Code :-</p><hr><hr>
<p>n=[1,2,2,2,2,3,3]</p>
<p>print(n.count(1))</p>
<p>print(n.count(2))</p>
<p>print(n.count(3))</p><hr><hr><br>
<p>3. index() function :-</p>
<p>============================</p>
<p>returns the index of first occurrence of the specified item.</p>
<p>Source Code :-</p><hr><hr>
<p>n=[1,2,2,2,2,3,3]</p>
<p>print(n.index(1)) ==>0</p>
<p>print(n.index(2)) ==>1</p>
<p>print(n.index(3)) ==>5</p>
<p>print(n.index(4)) ==>ValueError: 4 is not in list</p><hr><hr><br>
<p>II. Manipulating elements of List :-</p>
<p>==========================================</p>
<p>1. append() function :-</p>
<p>We can use append() function to add item at the end of the list.</p>
<p>Source Code:-</p><hr><hr>
<p>list=[]</p>
<p>list.append("A")</p>
<p>list.append("B")</p>
<p>list.append("C")</p>
<p>print(list)</p><hr><hr><br>
<p>2. insert() function :-</p>
<p>============================</p>
<p>To insert item at specified index position</p>
<p>Source Code :-</p><hr><hr>
<p>n=[1,2,3,4,5]</p>
<p>n.insert(1,888)</p>
<p>print(n)</p><hr><hr><br>
<p>extend() :-</p>
<p>To add all items of one list to another list</p>
<p>Source Code :-</p><hr><hr>
<p>order1=["Chicken","Mutton","Fish"]</p>
<p>order2=["RC","KF","FO"]</p>
<p>order1.extend(order2)</p>
<p>print(order1)</p><hr><hr><br>
<p>4. remove() function :-</p>
<p>=========================</p>
<p>We can use this function to remove specified item from the list.If the item present
multiple times then only first occurrence will be removed.</p>
<p>Source Code :-</p><hr><hr>
<p>n=[10,20,10,30]</p>
<p>n.remove(10)</p>
<p>print(n)</p><hr><hr><br>
<p>5. pop() function :-</p>
<p>=========================</p>
<p>It removes and returns the last element of the list.</p>
<p>This is only function which manipulates list and returns some element.</p>
<p>Source Code :-</p><hr><hr>
<p>n=[10,20,30,40]</p>
<p>print(n.pop())</p>
<p>print(n)</p><hr><hr><br>
<h2>III. Ordering elements of List :</h2>
<p>========================================</p>
<p>1. reverse() :-</p>
<p>====================</p>
<p>We can use to reverse() order of elements of list.</p>
<p>Source Code :-</p><hr><hr>
<p>n=[10,20,30,40]</p>
<p>n.reverse()</p>
<p>print(n)</p><hr><hr><br>
<p>2. sort() function :-</p>
<p>===========================</p>
<p>In list by default insertion order is preserved. If want to sort the elements of list according
to default natural sorting order then we should go for sort() method.</p>
<p>Source Code :-</p><hr><hr>
<p>n=[20,5,15,10,0]</p>
<p>n.sort()</p>
<p>print(n) #[0,5,10,15,20]</p>
<p> s=["Dog","Banana","Cat","Apple"]</p>
<p>s.sort()</p>
<p>print(s) #['Apple','Banana','Cat','Dog']</p><hr><hr><br>
<h2>List Comprehensions :-</h2>
<p>=============================</p>
<p>It is very easy and compact way of creating list objects from any iterable objects(like
list,tuple,dictionary,range etc) based on some condition.</p>
<p>Syntax :-</p>
<p>============</p>
<h1 align="center" style="color: green;">List Data Structure :-</h1>
<p align="center">==========================================</p>
<p>list=[expression for item in list if condition]</p>
<p>Source Code :-</p><hr><hr>
<p>s=[ x*x for x in range(1,11)]</p>
<p>print(s)</p>
<p>v=[2**x for x in range(1,6)]</p>
<p>print(v)</p>
<p>m=[x for x in s if x%2==0]</p>
<p>print(m)</p><hr><hr>

</div>
	
</div>
</div>
	
</div><br>
<div class="container">
<a href="/enquiry" class="btn btn-lg btn-success" style="margin-left: 500px;">Enquiry</a>
</div><br><br>
<div class="row">
  <div class="col-md-12">
    <div class="container" style="margin-left:500px;">
      <div class="spinner-grow text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-secondary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-success" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-danger" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-warning" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-info" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-light" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-dark" role="status">
  <span class="sr-only">Loading...</span>
</div>

    </div>

  </div>

</div><br><br>
<footer class="footer footer-expand-lg footer-dark bg-dark text-light">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

              <!-- Content -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: green;">Library Rules :</h5>
              <p>Identity Card is compulsory for getting access to the library</p>
              <p>Silence to be maintained</p>
              <p>No discussion permitted inside the library</p>
              <p>No personal belongings allowed inside the library</p>
              <p>No discussion permitted inside the library</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: green;">Working Hours of the Library</h5>

              <ul class="list-unstyled" >
                <li>
                  <p>Monday to Friday 8 am to 9 pm (During Examination up to 10 PM)</p>
                </li>
                <li>
                <p>Saturday 8 am to 5 pm</p>
                </li>
                <li>
                  <p>Sundays 9 am to 5 pm (During Examination Time)</p>
                </li>

              </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: blue;">contact us</h5>

              <ul class="list-unstyled">
                <li>
                  <h6>+91-6303973431</h6>
                </li>
                <li>
                  <h6>+91-6370504347</h6>
                </li>
                <li>
                  <a href="#!">Email : sahooc300@gmail.com</a>
                </li>

              </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: aqua;">Address</h5>

              <ul class="list-unstyled" style="color: seagreen;">
                <li>
                 <h4>Takhatpur</h4>
                </li>
                <li>
                  <h4>Baripada</h4>
                </li>
                <li>
                  <h4>Mayurabhunj</h4>
                </li>
                <li>
                <h4>Odisha</h4>
                </li>
              </ul>

            </div>

          </div>


        </div>


        <hr>


        <ul class="list-unstyled list-inline text-center py-2">
          <li class="list-inline-item">
            <h5 class="mb-1">Register for free</h5>
          </li>
          <li class="list-inline-item">
            <a href="#!" class="btn btn-danger btn-rounded">Sign up!</a>
          </li>
        </ul>
        <!-- Call to action -->

        <hr>

        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item">
            <a class="btn-floating btn-fb mx-1">
              <i class="fab fa-facebook-f"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-tw mx-1">
              <i class="fab fa-twitter"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-gplus mx-1">
              <i class="fab fa-google-plus-g"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1">
              <i class="fab fa-linkedin-in"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-dribbble mx-1">
              <i class="fab fa-dribbble"> </i>
            </a>
          </li>
        </ul>
        <!-- Social buttons -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
          <a href="https://mdbootstrap.com/education/bootstrap/">Chandra Sekhar Sahoo</a>
        </div>
        <!-- Copyright -->

      </footer>

{% endblock %}