<!DOCTYPE html>
{% extends 'testapp/base.html' %}
{% block body_block %}
<div class="row">
<dir class="col-sm-6">
<div class="container">

<h4 style="color: green;">Core Python</h4>
<p>=======================</p>
<p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Class and object</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">AttributesInheritance</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Inheritance</a></p>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Polymorphism</a></p>
           <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Overloading</a></p>
            <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Overriding</a></p>
             <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Abstraction</a></p>
             <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Introduction to PDBC</a></p><br>
             <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">  Connections</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Executing queries</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">MySql</a></p><br>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Iterator</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Generator</a></p><br>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Decorator</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Closure</a></p><br>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Match function</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Search function</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Thread</a></p>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Starting a thread</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Threading module</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Synchronizing threads</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Lock</a></p><br>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Variou Method</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Assertion</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">JSON</a></p>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">CSV</a></p>
           <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">DATA VISUALIZATION</a></p><br>
           <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">PANDAS</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">UNPICKLING</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">SERIALIZATION</a></p>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> DE-SERIALIZATION</a></p><br>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">DUCK TYPING</a></p>
</div>
	
</dir>
<div class="col-sm-6">
<div class="container" style="margin-left: -200px;">
<div class="jumbotron" style="color: purple;">
	<h1 style="color: green;">Self variable :- </h1>
	<p>======================================</p><br><br>
  <p>self is the default variable which is always pointing to current object (like this keyword in Java)
By using self we can access instance variables and instance methods of object.</p>
<p>1. self should be first parameter inside constructor.</p>
<p>def __init__(self):</p>
<p>2. self should be first parameter inside instance methods.</p>
<p>def talk(self):</p>
<h4 style="color: blue;">Constructor Concept :- </h4>
<p>===============================</p><br>
<p>Constructor is a special method in python.</p>
<p>The name of the constructor should be __init__(self)</p>
<p>Constructor will be executed automatically at the time of object creation.</p>
<p>The main purpose of constructor is to declare and initialize instance variables.</p>
<p>Constructor can take atleast one argument(atleast self)</p>
<p>Constructor is optional and if we are not providing any constructor then python will provide
default constructor.</p>
<h4>Example :- </h4>
<p>====================</p>
<p>def __init__(self,name,rollno,marks):</p>
<p style="margin-left: 50px;">self.name=name</p>
<p style="margin-left: 50px;">self.rollno=rollno</p>
<p style="margin-left: 50px;">self.marks=marks</p><br>
<h4 style="color: blue;">Program to demonistrate constructor will execute only once per object :-</h4>
	<p>=================================================================</p><br>
  <p>class Test:</p>
  <p style="margin-left: 50px;">def __init__(self):</p>
  <p style="margin-left: 100px;">print("Constructor exeuction...")</p>
  <p style="margin-left: 50px;">def m1(self):</p>
  <p style="margin-left: 100px;">print("Method execution...")</p>
  <p>t1=Test()</p>
  <p>t1.m1()</p><br>
  <h4 style="color: blue;">Example :-</h4>
  <p>======================</p><br>
<p>class Student:</p>
<p style="margin-left: 50px;">'''Developed by durga for python demo'''</p>
<p style="margin-left: 50px;">def __init__(self):</p>
<p style="margin-left: 100px;">self.name='durga'</p>
<p style="margin-left: 100px;">self.age=40</p>
<p style="margin-left: 50px;">def talk(self):</p>
<p style="margin-left: 100px;">print("Hello I am :",self.name)</p>
<p style="margin-left: 100px;">print("My Age is:",self.age)</p><br>
<p>s1=Student()</p>
<p>s1.talk()</p><br>
<h4 style="color: blue;">Differences between Methods and Constructors :- </h4>
<p>============================================</p><br>
<h4 style="color: blue;">Method :-</h4>
<p>=======================</p>
<p>1. Name of method can be any name</p>
<p>2. Method will be executed if we call that
method.</p>
<p>3. Per object, method can be called any number
of times.</p>  
<p>4. Inside method we can write business logic.</p><br>
<h4>Constructor :-</h4>
<p>========================</p>
<p>1. Constructor name should be always __init__</p>
<p>2. Constructor will be executed automatically at
the time of object creation.</p>
<p>3. Per object, Constructor will be executed only
once</p>
<p>4. Inside Constructor we have to declare and
initialize instance variables</p><br>
<h4 style="color: blue;">Types of Variables :- </h4>
<p>================================</p><br>
<p>Inside Python class 3 types of variables are allowed.</p>
<p>1. Instance Variables (Object Level Variables)</p>
<p>2. Static Variables (Class Level Variables)</p>
<p>3. Local variables (Method Level Variables)</p><hr>
<h4 style="color: blue;">1. Instance Variables :- </h4>
<p>====================================</p><br>
<p>If the value of a variable is varied from object to object, then such type of variables are called
instance variables.</p>
<p>For every object a separate copy of instance variables will be created.</p><br>
<h4 style="color: blue;">How to access Instance variables :-</h4>
<p>==================================</p><br>
<p>We can access instance variables with in the class by using self variable and outside of the class by
using object reference.</p><br>
<h4 style="color: blue;">Example :- </h4>
<p>=====================</p><br>
<p>class Test:</p>
<P style="margin-left: 50px;">def __init__(self):</P>
<p style="margin-left: 100px;">self.a=10</p>
<p style="margin-left: 100px;">self.b=20</p>
<p style="margin-left: 50px;">def display(self):</p>
<p style="margin-left: 100px;">print(self.a)</p>
<p style="margin-left: 100px;">print(self.b)</p>
<p>t=Test()</p>
<p>t.display()</p>
<p>print(t.a,t.b)</p>
</div>
	
</div>
</div>
	
</div><br>
<table>
<tr>
<a href="/enquiry" class="btn btn-lg btn-success" style="margin-left: 650px;">Enquiry</a>
<a href="/next2" class="btn btn-lg btn-secondary" style="margin-left: 40px;">Next</a>

</tr><br><br>
<div class="row">
  <div class="col-md-12">
    <div class="container" style="margin-left:500px;">
      <div class="spinner-grow text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-secondary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-success" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-danger" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-warning" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-info" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-light" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-dark" role="status">
  <span class="sr-only">Loading...</span>
</div>

    </div>

  </div>

</div><br><br>
<footer class="footer footer-expand-lg footer-dark bg-dark text-light">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

              <!-- Content -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: green;">Library Rules :</h5>
              <p>Identity Card is compulsory for getting access to the library</p>
              <p>Silence to be maintained</p>
              <p>No discussion permitted inside the library</p>
              <p>No personal belongings allowed inside the library</p>
              <p>No discussion permitted inside the library</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: green;">Working Hours of the Library</h5>

              <ul class="list-unstyled" >
                <li>
                  <p>Monday to Friday 8 am to 9 pm (During Examination up to 10 PM)</p>
                </li>
                <li>
                <p>Saturday 8 am to 5 pm</p>
                </li>
                <li>
                  <p>Sundays 9 am to 5 pm (During Examination Time)</p>
                </li>

              </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: blue;">contact us</h5>

              <ul class="list-unstyled">
                <li>
                  <h6>+91-6303973431</h6>
                </li>
                <li>
                  <h6>+91-6370504347</h6>
                </li>
                <li>
                  <a href="#!">Email : sahooc300@gmail.com</a>
                </li>

              </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: aqua;">Address</h5>

              <ul class="list-unstyled" style="color: seagreen;">
                <li>
                 <h4>Takhatpur</h4>
                </li>
                <li>
                  <h4>Baripada</h4>
                </li>
                <li>
                  <h4>Mayurabhunj</h4>
                </li>
                <li>
                <h4>Odisha</h4>
                </li>
              </ul>

            </div>

          </div>


        </div>


        <hr>


        <ul class="list-unstyled list-inline text-center py-2">
          <li class="list-inline-item">
            <h5 class="mb-1">Register for free</h5>
          </li>
          <li class="list-inline-item">
            <a href="#!" class="btn btn-danger btn-rounded">Sign up!</a>
          </li>
        </ul>
        <!-- Call to action -->

        <hr>

        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item">
            <a class="btn-floating btn-fb mx-1">
              <i class="fab fa-facebook-f"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-tw mx-1">
              <i class="fab fa-twitter"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-gplus mx-1">
              <i class="fab fa-google-plus-g"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1">
              <i class="fab fa-linkedin-in"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-dribbble mx-1">
              <i class="fab fa-dribbble"> </i>
            </a>
          </li>
        </ul>
        <!-- Social buttons -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
          <a href="https://mdbootstrap.com/education/bootstrap/">Chandra Sekhar Sahoo</a>
        </div>
        <!-- Copyright -->

      </footer>
{% endblock %}