<!DOCTYPE html>
{% extends 'testapp/base.html' %}
{% block body_block %}
<div class="row">
<dir class="col-sm-6">
<div class="container">

<h4 style="color: green;">Core Python</h4>
<p>=======================</p>
<p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Class and object</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">AttributesInheritance</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Inheritance</a></p>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Polymorphism</a></p>
           <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Overloading</a></p>
            <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Overriding</a></p>
             <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Abstraction</a></p>
             <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Introduction to PDBC</a></p><br>
             <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">  Connections</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Executing queries</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">MySql</a></p><br>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Iterator</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Generator</a></p><br>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Decorator</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Closure</a></p><br>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Match function</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Search function</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Thread</a></p>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Starting a thread</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Threading module</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Synchronizing threads</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Lock</a></p><br>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Variou Method</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Assertion</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">JSON</a></p>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">CSV</a></p>
           <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">DATA VISUALIZATION</a></p><br>
           <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">PANDAS</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">UNPICKLING</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">SERIALIZATION</a></p>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> DE-SERIALIZATION</a></p><br>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">DUCK TYPING</a></p>
</div>
	
</dir>
<div class="col-sm-6">
<div class="container" style="margin-left: -200px;">
<div class="jumbotron" style="color: purple;">
	<h1 style="color: green;">Local variables :- </h1>
	<p>================================</p><br><br>
  <p>Sometimes to meet temporary requirements of programmer,we can declare variables inside a
method directly,such type of variables are called local variable or temporary variables.</p>
<p>Local variables will be created at the time of method execution and destroyed once method
completes.</p>
<p>Local variables of a method cannot be accessed from outside of method.</p>
<h4>Example :-</h4>
<p>====================</p>
<p>class Test:</p>
<p style="margin-left: 50px;">def m1(self):</p>
<p style="margin-left: 100px;">a=1000</p>
<p style="margin-left: 100px;">print(a)</p>
<p>t=Test()</p>
<p>t.m1()</p><br>
<h4 style="color: blue;">Class Methods :- </h4>
<p>==========================</p><br>
<p>Inside method implementation if we are using only class variables (static variables), then such type
of methods we should declare as class method.</p>
<p>We can declare class method explicitly by using @classmethod decorator.</p>
<p>For class method we should provide cls variable at the time of declaration</p>
 <p>We can call classmethod by using classname or object reference variable.</p><br>
 <h4 style="color: blue;">Static Methods :- </h4>
 <p>========================</p><br>
 <p>In general these methods are general utility methods.
Inside these methods we won't use any instance or class variables.
Here we won't provide self or cls arguments at the time of declaration.</p>
<p>We can declare static method explicitly by using @staticmethod decorator
We can access static methods by using classname or object reference</p>
<h4 style="color: blue;">Inner classes :- </h4>
<p>==========================</p><br>
<p>Sometimes we can declare a class inside another class,such type of classes are called inner classes.</p>
<p>Without existing one type of object if there is no chance of existing another type of object,then we
should go for inner classes.</p>
<p>Without existing Car object there is no chance of existing Engine object. Hence Engine
class should be part of Car class.</p>
<h4 style="color: blue;">Syntax :- </h4>
<p>====================</p><br>
<p>class Test:</p>
<p style="margin-left: 50px;">class Inner:</p><br>
<h4 style="color: blue;">Garbage Collection :- </h4>
<p>==============================</p><br>
<p>In old languages like C++, programmer is responsible for both creation and destruction of
objects.Usually programmer taking very much care while creating object, but neglecting
destruction of useless objects. Because of his neglectance, total memory can be filled with useless
objects which creates memory problems and total application will be down with Out of memory
error.</p>
<p>But in Python, We have some assistant which is always running in the background to destroy
useless objects.Because this assistant the chance of failing Python program with memory
problems is very less. This assistant is nothing but Garbage Collector.</p>
<p>Hence the main objective of Garbage Collector is to destroy useless objects.</p>
<p>If an object does not have any reference variable then that object eligible for Garbage Collection.</p>
<p>By default Gargbage collector is enabled, but we can disable based on our requirement. In this
context we can use the following functions of gc module.</p>
<h4 style="color: blue;">Example :- </h4>
<p>==================</p><br>
<p>import gc</p>
<p>print(gc.isenabled())</p>
<p>gc.disable()</p>
<p>print(gc.isenabled())</p>
<p>gc.enable()</p>
<p>print(gc.isenabled())</p><br>
<h4 style="color: blue;">Destructors :- </h4>
<p>========================</p><br>
<p>Destructor is a special method and the name should be __del__
Just before destroying an object Garbage Collector always calls destructor to perform clean up
activities (Resource deallocation activities like close database connection etc).
Once destructor execution completed then Garbage Collector automatically destroys that object.</p>
<h4 style="color: blue;">Example :- </h4>
<p>==========================</p><br>
<p>class Test:</p>
<p style="margin-left: 50px;">def __init__(self):</p>
<p style="margin-left: 100px;">print("it is from constructor")</p>
<p style="margin-left: 50px;">def __del__(self):</p>
<p style="margin-left: 100px;">print("it is destructor")</p>
<p>t=Test()</p>
<p>print(t)</p>
<p>t1=Test()</p>
<p>print(t1)</p>

</div>
	
</div>
</div>
	
</div><br>
<table>
<tr>
<a href="/enquiry" class="btn btn-lg btn-success" style="margin-left: 650px;">Enquiry</a>
<a href="/next4" class="btn btn-lg btn-secondary" style="margin-left: 40px;">Next</a>

</tr><br><br>
<div class="row">
  <div class="col-md-12">
    <div class="container" style="margin-left:500px;">
      <div class="spinner-grow text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-secondary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-success" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-danger" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-warning" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-info" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-light" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-dark" role="status">
  <span class="sr-only">Loading...</span>
</div>

    </div>

  </div>

</div><br><br>
<footer class="footer footer-expand-lg footer-dark bg-dark text-light">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

              <!-- Content -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: green;">Library Rules :</h5>
              <p>Identity Card is compulsory for getting access to the library</p>
              <p>Silence to be maintained</p>
              <p>No discussion permitted inside the library</p>
              <p>No personal belongings allowed inside the library</p>
              <p>No discussion permitted inside the library</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: green;">Working Hours of the Library</h5>

              <ul class="list-unstyled" >
                <li>
                  <p>Monday to Friday 8 am to 9 pm (During Examination up to 10 PM)</p>
                </li>
                <li>
                <p>Saturday 8 am to 5 pm</p>
                </li>
                <li>
                  <p>Sundays 9 am to 5 pm (During Examination Time)</p>
                </li>

              </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: blue;">contact us</h5>

              <ul class="list-unstyled">
                <li>
                  <h6>+91-6303973431</h6>
                </li>
                <li>
                  <h6>+91-6370504347</h6>
                </li>
                <li>
                  <a href="#!">Email : sahooc300@gmail.com</a>
                </li>

              </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: aqua;">Address</h5>

              <ul class="list-unstyled" style="color: seagreen;">
                <li>
                 <h4>Takhatpur</h4>
                </li>
                <li>
                  <h4>Baripada</h4>
                </li>
                <li>
                  <h4>Mayurabhunj</h4>
                </li>
                <li>
                <h4>Odisha</h4>
                </li>
              </ul>

            </div>

          </div>


        </div>


        <hr>


        <ul class="list-unstyled list-inline text-center py-2">
          <li class="list-inline-item">
            <h5 class="mb-1">Register for free</h5>
          </li>
          <li class="list-inline-item">
            <a href="#!" class="btn btn-danger btn-rounded">Sign up!</a>
          </li>
        </ul>
        <!-- Call to action -->

        <hr>

        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item">
            <a class="btn-floating btn-fb mx-1">
              <i class="fab fa-facebook-f"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-tw mx-1">
              <i class="fab fa-twitter"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-gplus mx-1">
              <i class="fab fa-google-plus-g"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1">
              <i class="fab fa-linkedin-in"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-dribbble mx-1">
              <i class="fab fa-dribbble"> </i>
            </a>
          </li>
        </ul>
        <!-- Social buttons -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
          <a href="https://mdbootstrap.com/education/bootstrap/">Chandra Sekhar Sahoo</a>
        </div>
        <!-- Copyright -->

      </footer>
{% endblock %}