<!DOCTYPE html>
{% extends 'testapp/base.html' %}
{% block body_block %}
{% if user.is_authenticated %}
<h1 style="font-size:100px;color:green;"><marquee>Here you Learn about Python Django </marquee></h1>

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          CORE PYTHON
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
      <h4 style="color:green;">Introduction : -</h4>
      <p>-------------------------</p>
      <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/history">History</a></p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/feature">Features</a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/sup">Setting up path</a></p>
          <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/wp">Working with Python</a></p>
           <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/b">Basic Syntax</a></p>
            <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/da">  Variable and Data Types </a></p>
             <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/or">Operator</a></p>
             <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">  Immutable&Mutable Object </a></p><br>
             <h4 style="color:green;">Control Flow Statements : -</h4><hr>
             <h4 style="color:green;">Conditional Statements : -</h4>
      <p>----------------------------------------</p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/if">If</a></p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/if2">  If- else </a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/i4">if-elif-else</a></p><br>
         <h4 style="color:green;">Looping Statement : -</h4>
      <p>------------------------------------</p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/f2">For</a></p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/while2">While</a></p><br>
        <h4 style="color:green;">Transfer Statement : -</h4>
      <p>------------------------------------</p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/break">Break</a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/continue2">Continue</a></p><br>
         <h4 style="color:green;">String Manipulitation : -</h4>
      <p>------------------------------------</p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/str1">Introduction</a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/str2">String slices</a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/str3">Function and Methods</a></p>
          <h4 style="color:green;">Data Structure : -</h4>
      <p>------------------------------------</p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/lst">List</a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/tuple1">Tuple</a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/set6">Set</a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/dict2">Dict</a></p><br>
         <h4 style="color:green;">Functions : -</h4>
      <p>----------------</p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/func1">Defining a function</a></p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/func2">Calling a function </a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/func3">Function Arguments</a></p>
          <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/func4">  Anonymous functions</a></p>
           <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/func5">Global and local variables</a></p><br>
           <h4 style="color:green;">Modules : -</h4>
      <p>----------------</p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/module1">Importing module</a></p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/module2">Math module </a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/module3"> Random module</a></p>
          <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/pack2">    Packages</a></p><br>
          <h4 style="color:green;">File Handling : -</h4>
      <p>----------------</p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/f1">Writable</a></p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/f4">  Readable </a></p>
        <br>
        <h4 style="color:green;">Exception Handling : -</h4>
      <p>----------------</p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/exc">  Exception</a></p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/exc2">  Exception Handling </a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/exc4">Try,Except and Finally</a></p>
          <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/exc8"> User Defined Exception</a></p><br>
          
            
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Advance Python
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <h4 style="color:green;">OOPS Concept : -</h4>
      <p>-------------------------</p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/class1">Class and object </a></p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/next4">AttributesInheritance</a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/next4">Inheritance</a></p>
          <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/ph">Polymorphism</a></p>
          
             <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/astr">Abstraction</a></p>
            <br>
             
             <h4 style="color:green;">PDBC : -</h4>
      <p>-------------------</p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/pdbc1">Introduction</a></p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/pdbc2">  Connections </a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/pdbc2">Executing queries</a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/pdbc3"> MySql </a></p><br>
         <h4 style="color:green;"> Advance Concept : -</h4>
      <p>------------------------------------</p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/iter">Iterator</a></p>
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/gtr">Generator</a></p>
      
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/decor">Decorator</a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/closure2">Closure</a></p><br>
         <h4 style="color:green;">Regular Expression : -</h4>
      <p>------------------------------------</p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/expression2">Match function </a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/search2">Search function</a></p>
         
          <h4 style="color:green;">Multi Threading : -</h4>
      <p>------------------------------------</p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/thread1"> Thread</a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/next8">Starting a thread </a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/tmod">Threading module</a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/st2">Synchronizing threads</a></p>
         
        <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/sl2">Lock</a></p>
        
           <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/vtm2">Various Method</a></p><br>
           <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/ast2">Assertion</a></p><br>
           <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/json2">JSON</a></p><br>
           <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/csv2">CSV</a></p><br>
           <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/dv2">DATA VISUALIZATION</a></p><br>
           <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/pandas2">PANDAS</a></p><br>
           <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/numpy">NUMPY</a></p><br>
           <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/pickling2">PICKLING</a></p><br>
           <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/unpickling2">UNPICKLING</a></p><br>
           <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/doctyping2">DUCK TYPING</a></p><br>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Some Programming
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
      <h4 style="color:green;">Pattern Program : -</h4>
      <p>------------------------------------</p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/program">pattern 1 to 20 programming </a></p><br>

         <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/fact"> Factorial Number</a></p><br>
         <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/fibo"> Fibonacci series</a></p><br>
         <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/arm"> Armstrong Number</a></p><br>
         <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/even"> Even or Odd </a></p><br>
         <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/add"> Add Two Number</a></p><br>
         <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/minimum"> Minimum Number</a></p><br>
         <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/prime"> Prime Number</a></p><br>
         <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/polyndrome"> Polyndrome Number</a></p><br>
         <p style="margin-left: 100px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> </a></p><br>
         <h4 style="color:green;">Algorithms : -</h4>
      <p>------------------------------------</p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Buble sort </a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Binary Search </a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Quick Sort </a></p>
         <p style="margin-left: 140px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Merge Sort </a></p><br>
        
      </div>
    </div>
  </div>
</div><br><br>
{% endif %}
<div class="container">
<a href="/enquiry" class="btn btn-lg btn-success" style="margin-left: 500px;">Enquiry</a>
</div><br><br>
<div class="row">
  <div class="col-md-12">
    <div class="container" style="margin-left:500px;">
      <div class="spinner-grow text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-secondary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-success" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-danger" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-warning" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-info" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-light" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-dark" role="status">
  <span class="sr-only">Loading...</span>
</div>

    </div>

  </div>

</div><br><br>
<footer class="footer footer-expand-lg footer-dark bg-dark text-light">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

              <!-- Content -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: green;">Library Rules :</h5>
              <p>Identity Card is compulsory for getting access to the library</p>
              <p>Silence to be maintained</p>
              <p>No discussion permitted inside the library</p>
              <p>No personal belongings allowed inside the library</p>
              <p>No discussion permitted inside the library</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: green;">Working Hours of the Library</h5>

              <ul class="list-unstyled" >
                <li>
                  <p>Monday to Friday 8 am to 9 pm (During Examination up to 10 PM)</p>
                </li>
                <li>
                <p>Saturday 8 am to 5 pm</p>
                </li>
                <li>
                  <p>Sundays 9 am to 5 pm (During Examination Time)</p>
                </li>

              </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: blue;">contact us</h5>

              <ul class="list-unstyled">
                <li>
                  <h6>+91-6303973431</h6>
                </li>
                <li>
                  <h6>+91-6370504347</h6>
                </li>
                <li>
                  <a href="#!">Email : sahooc300@gmail.com</a>
                </li>

              </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: aqua;">Address</h5>

              <ul class="list-unstyled" style="color: seagreen;">
                <li>
                 <h4>Takhatpur</h4>
                </li>
                <li>
                  <h4>Baripada</h4>
                </li>
                <li>
                  <h4>Mayurabhunj</h4>
                </li>
                <li>
                <h4>Odisha</h4>
                </li>
              </ul>

            </div>

          </div>


        </div>


        <hr>


        <ul class="list-unstyled list-inline text-center py-2">
          <li class="list-inline-item">
            <h5 class="mb-1">Register for free</h5>
          </li>
          <li class="list-inline-item">
            <a href="#!" class="btn btn-danger btn-rounded">Sign up!</a>
          </li>
        </ul>
        <!-- Call to action -->

        <hr>

        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item">
            <a class="btn-floating btn-fb mx-1">
              <i class="fab fa-facebook-f"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-tw mx-1">
              <i class="fab fa-twitter"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-gplus mx-1">
              <i class="fab fa-google-plus-g"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1">
              <i class="fab fa-linkedin-in"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-dribbble mx-1">
              <i class="fab fa-dribbble"> </i>
            </a>
          </li>
        </ul>
        <!-- Social buttons -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
          <a href="https://mdbootstrap.com/education/bootstrap/">Chandra Sekhar Sahoo</a>
        </div>
        <!-- Copyright -->

      </footer>
{% endblock %}
 