<!DOCTYPE html>
{% extends 'testapp/base.html' %}
{% block body_block %}
<div class="row">
<dir class="col-sm-6">
<div class="container">

	

<h4 style="color: green;">Core Python</h4>
<p>============</p>
<p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/history">History</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/feature">Features</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/sup">Setting up path</a></p>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/wp">Working with Python</a></p>
           <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/b">Basic Syntax</a></p>
            <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/da">  Variable and Data Types </a></p>
             <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/or">Operator</a></p>
             <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">  Immutable&Mutable Object </a></p><br>
             <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/if">If</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/if2">  If- else </a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="/i4">if-elif-else</a></p><br>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">For</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">While</a></p><br>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Break</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Continue</a></p><br>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Introduction</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">String slices</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Function and Methods</a></p>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">List</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Tuple</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Set</a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Dict</a></p><br>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Defining a function</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Calling a function </a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Function Arguments</a></p>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">  Anonymous functions</a></p>
           <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Global and local variables</a></p><br>
           <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Importing m</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">  Math module </a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> Random module</a></p>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">    Packages</a></p><br>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">  Exception</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">  Exception Handling </a></p>
         <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Try,Except and Finally</a></p>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href=""> User Defined Exception</a></p><br>
          <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">Writable</a></p>
        <p style="margin-left: 40px;"><img src="https://sssit.org/images/check.png">&nbsp;&nbsp;<a href="">  Readable </a></p>
        
	
</div>
	
</dir>
<div class="col-sm-6">
<div class="container" style="margin-left: -200px;">
<div class="jumbotron" style="color: purple;">
<h2>Data Structure :-</h2>
<p>==========================</p>
<h2  style="color: green;">Tuple Data Structure :-</h2>
<p >=============================================</p>
<p>Tuple is exactly same as List except that it is immutable. i.e once we creates Tuple
object,we cannot perform any changes in that object.</p>
<p>==> If our data is fixed and never changes then we should go for Tuple.</p>
<p>==> Insertion Order is preserved.</p>
<p>==> Duplicates are allowed</p>
<p>==> Heterogeneous objects are allowed.</p>
<p>==> We can preserve insertion order and we can differentiate duplicate objects by using
index. Hence index will play very important role in Tuple also.
Tuple support both +ve and -ve index. +ve index means forward direction(from left to
right) and -ve index means backward direction(from right to left)</p>
<p>==> We can represent Tuple elements within Parenthesis and with comma seperator.
Parenethesis are optional but recommended to use.</p><br>
<h4>Source Code :-</h4><hr><hr>
<p>t=10,20,30,40</p>
<p>print(t)</p>
<p>print(type(t))</p><hr><hr><br>
<p>Note: We have to take special care about single valued tuple.compulsary the value
should ends with comma,otherwise it is not treated as tuple.</p><br>
<h4>Source Code :-</h4><hr><hr>
<p>a=(10)</p>
<p>print(a) #10</p>
<p>print(type(a)) # <class 'int'></p>
<p>t=(10,)</p>
<p>print(t)</p>
<p>print(type(t))</p><hr><hr><br>
<h5>By using tuple() function :-</h5>
<p>================================</p>
<h4>Source Code :-</h4>
<p>===================</p>
<p>list=[10,20,30]</p>
<p>t=tuple(list)</p>
<p>print(t)</p>
<p>t=tuple(range(10,20,2))</p>
<p>print(t)</p><hr><hr><br>
<h4>Accessing elements of tuple :-</h4>
<p>======================================</p>
<p>We can access either by index or by slice operator</p>
<p>1. By using index :-</p><br>
<h4>Source Code :-</h4><hr><hr>
<p>t=(10,20,30,40,50,60)</p>
<p>print(t[0]) # 10</p>
<p>print(t[[4]) # 50</p>
<p>print(t[-2]) # 50</p><hr><hr><br>
<p>2. By using slice operator :-</p>
<h4>Source Code :-</h4><hr><hr>
<p>a=(10,20,30,40,50,60,70,80)</p>
<p>print(a[0:2])</p>
<p>print(a[-3:-1])</p>
<p>print(a[-6:-1])</p><hr><hr><br>
<h4>Tuple vs immutability :-</h4>
<p>==============================</p>
<p>Once we creates tuple,we cannot change its content.
Hence tuple objects are immutable.</p>
<p>Ex :-</p>
<p>t=(10,20,30,40)</p>
<p>t[1]=70</p>
<p>print(t) #Error at index</p><hr><hr><br>
<h4>Important functions of Tuple :-</h4>
<p>======================================</p>
<p>1. len() :-</p>
<p>To return number of elements present in the tuple.</p>
<h4>Source Code :-</h4><hr><hr>
<p>t=(10,20,30,40)</p>
<p>print(len(t))</p><hr><hr><br>
<p>2. count() :-</p>
<p>To return number of occurrences of given element in the tuple</p>
<h4>Source Code :-</h4><hr><hr>
<p>a=(10,20,30,40,50,60,70,80)</p>
<p>print(t.count(20)) # 1</p><hr><hr><br>
<p>3. index() :-</p>
<h4>Source Code :-</h4><hr><hr>
<p>t=(10,20,30,40,50,60,70,80)</p>
<p>print(t.index(40)) # 3</p><hr><hr><br>
<p>4. sorted() :-</p>
<p>To sort elements based on default natural sorting order</p>
<h4>Source Code :-</h4><hr><hr>
<p>t=(1,4,3,2,5)</p>
<p>t1=sorted(t)</p>
<p>print(t1)</p>
<p>print(t)</p><hr><hr><br>
<p>min and max() function :-</p>
<h4>Source Code :-</h4>
<p>t=(10,20,30,40,50,60,70,80)</p>
<p>print(min(t))</p>
<p>print(max(t))</p><hr><hr><br>
<h4>Tuple Packing and Unpacking :-</h4>
<p>=======================================</p>
<p>We can create a tuple by packing a group of variables.</p>
<p>Tuple unpacking is the reverse process of tuple packing
We can unpack a tuple and assign its values to different variables</p>
<h4>Source Code :-</h4><hr><hr>
<p>t=(1,2.3,True,"muna",2+4j)</p>
<p>a,b,c,d,e=t</p>
<p>print(type(a))</p>
<p>print(type(b))</p>
<p>print(type(c))</p>
<p>print(type(d))</p>
<p>print(type(e))</p><hr><hr><br>
<h4>Tuple Comprehension :-</h4>
<p>================================</p>
<p>Tuple Comprehension is not supported by Python.</p>
<h4>Source Code :-</h4><hr><hr>
<p>t= ( x**2 for x in range(1,6))</p>
<p>print(type(t))</p>
<p>for x in t:</p>
<p style="margin-left: 50px;">print(x)</p>


</div>
	
</div>
</div>
	
</div><br>
<div class="container">
<a href="/enquiry" class="btn btn-lg btn-success" style="margin-left: 500px;">Enquiry</a>
</div><br><br>
<div class="row">
  <div class="col-md-12">
    <div class="container" style="margin-left:500px;">
      <div class="spinner-grow text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-secondary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-success" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-danger" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-warning" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-info" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-light" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-dark" role="status">
  <span class="sr-only">Loading...</span>
</div>

    </div>

  </div>

</div><br><br>
<footer class="footer footer-expand-lg footer-dark bg-dark text-light">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

              <!-- Content -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: green;">Library Rules :</h5>
              <p>Identity Card is compulsory for getting access to the library</p>
              <p>Silence to be maintained</p>
              <p>No discussion permitted inside the library</p>
              <p>No personal belongings allowed inside the library</p>
              <p>No discussion permitted inside the library</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: green;">Working Hours of the Library</h5>

              <ul class="list-unstyled" >
                <li>
                  <p>Monday to Friday 8 am to 9 pm (During Examination up to 10 PM)</p>
                </li>
                <li>
                <p>Saturday 8 am to 5 pm</p>
                </li>
                <li>
                  <p>Sundays 9 am to 5 pm (During Examination Time)</p>
                </li>

              </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: blue;">contact us</h5>

              <ul class="list-unstyled">
                <li>
                  <h6>+91-6303973431</h6>
                </li>
                <li>
                  <h6>+91-6370504347</h6>
                </li>
                <li>
                  <a href="#!">Email : sahooc300@gmail.com</a>
                </li>

              </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: aqua;">Address</h5>

              <ul class="list-unstyled" style="color: seagreen;">
                <li>
                 <h4>Takhatpur</h4>
                </li>
                <li>
                  <h4>Baripada</h4>
                </li>
                <li>
                  <h4>Mayurabhunj</h4>
                </li>
                <li>
                <h4>Odisha</h4>
                </li>
              </ul>

            </div>

          </div>


        </div>


        <hr>


        <ul class="list-unstyled list-inline text-center py-2">
          <li class="list-inline-item">
            <h5 class="mb-1">Register for free</h5>
          </li>
          <li class="list-inline-item">
            <a href="#!" class="btn btn-danger btn-rounded">Sign up!</a>
          </li>
        </ul>
        <!-- Call to action -->

        <hr>

        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item">
            <a class="btn-floating btn-fb mx-1">
              <i class="fab fa-facebook-f"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-tw mx-1">
              <i class="fab fa-twitter"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-gplus mx-1">
              <i class="fab fa-google-plus-g"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1">
              <i class="fab fa-linkedin-in"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-dribbble mx-1">
              <i class="fab fa-dribbble"> </i>
            </a>
          </li>
        </ul>
        <!-- Social buttons -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
          <a href="https://mdbootstrap.com/education/bootstrap/">Chandra Sekhar Sahoo</a>
        </div>
        <!-- Copyright -->

      </footer>

{% endblock %}